﻿@model List<MobileWebBLL.Models.Slider>
@{
    ViewBag.Title = "Danh sách Slider";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin slider", "Index", "adminSlider", null, new { id = "returnListSlider" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-picture"></i>Gallery</h2>
        </div>
        
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <p class="center">
                <button id="toggle-fullscreen" class="btn btn-primary visible-desktop" data-toggle="button">Xem toàn màn hình</button>

                <a class="btn btn-info btn-setting" href="#">
                    <i class="icon-edit icon-white"></i>
                    Thêm Slider
                </a>
            </p>
            <br />
            <div class="portfolio_1_4">
                <ul id="list">
                    @if (Model.Count == 0)
                    {
                        <li><span>Không có thông tin cần hiển thị</span></li>
                    }
                    else
                    {
                        foreach (var items in Model)
                        {
                        <!-- START PORTFOLIO COLUMN #1 -->
                        <li id="id-1" class="app">
                            <span class="image" style="position: relative">
                                <a href="#" data-rel="prettyPhoto" class="img-thumb">
                                    <img class="portfolio_image" src="~/@Url.Content(items.Link)" alt="" /></a>
                                <a onclick="return confirm('Bạn có chắc chắn muốn xóa slider này');" href="@Url.Action("DeleteSlider", new { @MaSlider = items.MaSlider })" class="button red">
                                    <i class="icon-trash icon-white"></i>
                                    Xóa Slider
                                </a>
                            </span>
                        </li>
                        }
                        <!-- END PORTFOLIO COLUMN #1 -->
                    }

                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="modal hide fade" id="myModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Thông tin Slider</h3>
        </div>

        @using (Html.BeginForm("CreateSliderSubmit", "adminSlider", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-body">
                <fieldset>
                    <div class="control-group">
                        <div class="control-label">
                            @Html.Label("", "Link")
                        </div>
                        <div class="controls">
                            <div class="uploader">
                                @Html.TextBoxFor(item => item.First().Link, htmlAttributes: new { type = "file", @class = "input-file uniform_on" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary">Thêm Slider</button>
            </div>
        }
    </div>
    <!--/span-->

</div>
<!
<!--/row-->
<!-- content ends -->
