﻿@model List<MobileWebBLL.Models.SanPham>

<p>@Model.Count</p>
<div class="tooltip_description" style="display: none" title="@Model.Count sản phẩm">
    <ul class="numbered_list">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <li>@item.TenSP - @item.SoLuong cái</li>
            }
        }
    </ul>
</div>


