﻿@model List<MobileWebBLL.Models.SanPham>
@{
    var i = 0;
    var total = 0;
}
@if (Model.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th style="width: 30%;">Số lượng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var sp in Model)
            {
                {
                    i++;
                    total = total + sp.DonGia * sp.SoLuong;
                }
                <tr>
                    <td>@i</td>
                    <td><a href="detail.html">@sp.TenSP</a></td>
                    <td>@{ var temp = sp.DonGia * 1000; @temp.ToString("0,000");}VNĐ</td>
                    <td style="width: 30%;">
                        <div class="input-prepend input-append" style="width: 50%;">
                            @Ajax.ActionLink("-", "updateShoppingCart",
                            new
                            {
                                maSP = @sp.MaSP,
                                amount = -1
                            },
                            new AjaxOptions
                            {
                                UpdateTargetId = "tab_shopping_cart",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            }, new { @class = "add-on", onclick="updateAmountinShoppingCart(" + sp.MaSP + ",-1)" })

                            <input class="span2" id="appendedPrependedInput" type="text" 
                                    value="@sp.SoLuong" disabled="disabled" style="width:20%;">
                            @Ajax.ActionLink("+", "updateShoppingCart",
                            new
                            {
                                maSP = @sp.MaSP,
                                amount = 1
                            },
                            new AjaxOptions
                            {
                                UpdateTargetId = "tab_shopping_cart",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            }, new { @class = "add-on", onclick="updateAmountinShoppingCart(" + sp.MaSP + ",1)" })
                        </div>
                    </td>
                    <td>@Ajax.ActionLink("Hủy", "deleteShoppingCart",
                            new
                            {
                                maSP = @sp.MaSP
                            },
                            new AjaxOptions
                            {
                                UpdateTargetId = "tab_shopping_cart",
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace
                            }, new { @class = "button green", onclick="deleteinShoppingCart(" + sp.MaSP + ")" })</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="text-align: right;">
        <strong>Tổng tiền : </strong><strong style="font-size: 13pt; color: green;">@{ var temp_ = total * 1000; @temp_.ToString("0,000");} VNĐ</strong><br />
        <br />
    </div>
    @Html.ActionLink("Thanh toán", "Index", "Payment", null, new { @class = "green-button"})
}
else
{
    <p><b>Bạn chưa đặt mua sản phẩm nào!!</b></p>
}
