﻿@model List<MobileWebBLL.Models.SanPham>
@{
    ViewBag.Title = "Giỏ hàng - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Giỏ hàng</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        <div id="tab_shopping_cart">
            <ul class="breadcrumb">
                <li class="active">Giỏ hàng</li>
            </ul>
            <!-- START SHOPPING CART SIDE -->
            @Html.Action("loadShoppingCart", "ShoppingCart")
            <!-- END SHOPPING CART SIDE -->
        </div>
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
<!-- START JAVASCRIPT -->
<script>
    function updateAmountinShoppingCart(id, soluong) {
        //$('#tab_shopping_cart').load("@Url.Action("updateShoppingCart", "ShoppingCart", null, null)?maSP=" + id + "&amount=" + soluong);
        $("#shopping_cart").load("@Url.Action("_upShoppingCart", "ShoppingCart", null, null)?maSP=" + id + "&amount=" + soluong);
    }
    function deleteinShoppingCart(id) {
        //$('#tab_shopping_cart').load("@Url.Action("deleteShoppingCart", "ShoppingCart", null, null)?maSP=" + id);
        $("#shopping_cart").load("@Url.Action("_deShoppingCart", "ShoppingCart", null, null)?maSP=" + id);
    }
</script>
<!-- END JAVASCRIPT -->
