﻿@model MobileWeb.ViewModels.ViewModelAdminProducts
@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
}

<div class="control-group">
    <div class="control-label">
        @Html.Label("", "Hình ảnh")
    </div>
    <div class="controls">
        <div class="portfolio_1_4">
            <ul id="list">
                @foreach (var i in ViewBag.img)
                {
                    <li class="app">
                        <span class="image" style="position: relative">
                            <a href="#" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="~/@Url.Content(i.Link)" alt="" /></a>
                            <a onclick="return confirm('Bạn có chắc chắn muốn xóa');" href="@Url.Action("DeleteHinh", new { @MaHinhAnh = i.MaHinhAnh, @MaSP = i.MaSP })" class="button red">
                                <i class="icon-trash icon-white"></i>
                                Delete
                            </a>
                        </span>
                    </li>
                }
            </ul>
        </div>

    </div>

</div>@*Het hien thi hinh*@
