﻿@model List<MobileWebBLL.Models.ChiTietSanPham>
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Quản lý thông tin chi tiết sản phẩm</span>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin chi tiết sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Tên thuộc tính</th>
                        <th>Giá trị</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="2">Không có thông tin yêu cầu</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">Tên sản phẩm</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.SanPham.TenSP)</td>
                        </tr>
                        <tr>
                            <td class="center">Hệ điều hành</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.HDH)</td>
                        </tr>
                        <tr>
                            <td class="center">Mạng 2G</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.Mang2G)</td>
                        </tr>
                        <tr>
                            <td class="center">Mạng 3G</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.Mang3G)</td>
                        </tr>
                        <tr>
                            <td class="center">Tốc độ 3G</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.TocDo3G)</td>
                        </tr>
                        <tr>
                            <td class="center">Ngày ra mắt</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.NgayRaMat)</td>
                        </tr>
                        <tr>
                            <td class="center">Ngày có sản phẩm</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.NgayCoHang)</td>
                        </tr>
                        <tr>
                            <td class="center">Kích thước sản phẩm</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.KichThuocDT)</td>
                        </tr>
                        <tr>
                            <td class="center">Trọng lượng</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.TrongLuong)</td>
                        </tr>
                        <tr>
                            <td class="center">Loại màn hình</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.LoaiManHinh)</td>
                        </tr>
                        <tr>
                            <td class="center">Kích thước màn hình</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.KichThuocManHinh)</td>
                        </tr>
                        <tr>
                            <td class="center">Mô tả kích thước mản hình</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.MoTaKichThuocManHinh)</td>
                        </tr>
                        <tr>
                            <td class="center">Kiểu chuông</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.KieuChuong)</td>
                        </tr>
                        <tr>
                            <td class="center">Ngõ Audio</td>
                            @if (item.NgoAudio == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">Danh bạ</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.DanhBa)</td>
                        </tr>
                        <tr>
                            <td class="center">Các số đã gọi</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.CacSoDaGoi)</td>
                        </tr>
                        <tr>
                            <td class="center">Bô nhớ trong</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.BoNhoTrong)</td>
                        </tr>
                        <tr>
                            <td class="center">Khe cắm thẻ nhớ</td>
                            @if (item.KheCamTheNho == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">GPRS</td>
                            @if (item.GPRS == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">EDGE</td>
                            @if (item.EDGE == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">NFC</td>
                            @if (item.NFC == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">WLAN</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.WLAN)</td>
                        </tr>
                        <tr>
                            <td class="center">Bluetooth</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.Bluetooth)</td>
                        </tr>
                        <tr>
                            <td class="center">Hồng ngoại</td>
                            @if (item.HongNgoai == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">Camera chính</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.CameraChinh)</td>
                        </tr>
                        <tr>
                            <td class="center">Camera phụ</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.CameraPhu)</td>
                        </tr>
                        <tr>
                            <td class="center">Đặc điểm</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.DacDiem)</td>
                        </tr>
                        <tr>
                            <td class="center">Quay phim</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.QuayPhim)</td>
                        </tr>
                        <tr>
                            <td class="center">Bộ xử lý</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.BoXuLy)</td>
                        </tr>
                        <tr>
                            <td class="center">Chipset</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.Chipset)</td>
                        </tr>
                        <tr>
                            <td class="center">Tin nhắn</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.TinNhan)</td>
                        </tr>
                        <tr>
                            <td class="center">Trình duyệt</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.TrinhDuyet)</td>
                        </tr>
                        <tr>
                            <td class="center">Radio</td>
                            @if (item.Radio == true)
                            {
                                <td class="center">Có</td>
                            }
                            else
                            {
                                <td class="center">Không</td>
                            }
                        </tr>
                        <tr>
                            <td class="center">Trò chơi</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.TroChoi)</td>
                        </tr>
                        <tr>
                            <td class="center">Ngôn ngữ</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.NgonNgu)</td>
                        </tr>
                        <tr>
                            <td class="center">GPS</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.GPS)</td>
                        </tr>
                        <tr>
                            <td class="center">Java</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.Java)</td>
                        </tr>
                        <tr>
                            <td class="center">Mô tả java</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.MoTaJava)</td>
                        </tr>
                        <tr>
                            <td class="center">Pin chuẩn</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.PinChuan)</td>
                        </tr>
                        <tr>
                            <td class="center">Thời gian chờ</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.ThoiGianCho)</td>
                        </tr>
                        <tr>
                            <td class="center">Thời gian đàm thoại</td>
                            <td class="center">@Html.DisplayFor(itemDP => item.ThoiGianDamThoai)</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                               @foreach(var i in ViewBag.img)
                               {
                                   <p class="app">
                            <span class="image" style="position: relative">
                                <a href="#" data-rel="prettyPhoto" class="img-thumb">
                                    <img class="portfolio_image" src="~/@Url.Content(i.Link)" alt="" /></a>
                                <a onclick="return confirm('Bạn có chắc chắn muốn xóa');" href="#" class="button red">
                                    <i class="icon-trash icon-white"></i>
                                    Delete
                                </a>
                            </span>
                        </p>
                               }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-actions">
                                    <div class="btn btn-info">
                                        <i class="icon-edit icon-white"></i>
                                         @Html.ActionLink("Edit", "ShowEidtPruduct", "adminProduct", new {MaSP = item.MaSP}, new { id = "ShowEditProduct" })
                                    </div>
                                    <div class="btn btn-danger">
                                        <i class="icon-trash icon-white"></i>
                                        @Html.ActionLink("Delete", "DeleteProduct", "adminProduct", new { MaSP = item.MaSP }, new { id = "btnDeleteDetails" })
                                    </div>
                                    <div class="btn btn-danger">
                                        <i class="icon-edit icon-white"></i>
                                        @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
