﻿@model MobileWeb.ViewModels.ViewModelAdminProducts
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Thêm sản phẩm</span>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("CreateProduct", "adminProduct", FormMethod.Post, new { id = "CreateProduct" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.SanPham.TenSP, new { name = "etxtTenSanPham", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Loại sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.SanPham.MaLoaiSP, new SelectList(@ViewBag.lsp, "MaLoaiSP", "TenLoaiSP"), new { name = "edrdLoaiSP", @class = "input-xlarge focused" })
                                <a class="btn btn-info" href="@Url.Action("CreateLoaiSP","adminLoaiSanPham")">Thêm loại sản phẩm</a>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Nhà sản xuất")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.SanPham.MaNSX, new SelectList(@ViewBag.nsx, "MaNSX", "TenNSX"), new { name = "edrdNhaSX", @class = "input-xlarge focused" })
                                <a class="btn btn-info" href="@Url.Action("CreateNSX","adminNhaSanXuat")">Thêm Nhà sản xuất</a>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Số lượng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.SanPham.SoLuong, new { name = "etxtSoLuong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Đơn giá")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    <span class="add-on">$</span>
                                    @Html.TextBoxFor(item => item.SanPham.DonGia, new { name = "etxtDonGia" })
                                    <span class="add-on">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian bảo hành")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.SanPham.BaoHanh, new { name = "etxtBaoHanh" })
                                    <span class="add-on">Tháng</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Sản phẩm kèm theo")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.SanPham.SanPhamKemTheo, new { name = "etxtSanPhamKemTheo", @class = "input-xlarge focused" })
                            </div>
                        </div>

                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i>Chi tiết sản phẩm</h2>
                        </div>

                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hệ điều hành")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.HDH, new { name = "edrdHDH", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mạng 2G")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.Mang2G, new { name = "etxtMang2G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mạng 3G")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.Mang3G, new { name = "etxtMang3G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày ra mắt")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.NgayRaMat, new { name = "etxtNgayRaMat", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày có sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.NgayCoHang, new { name = "etxtNgayCoHang", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kích thước sản phẩm")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.ChiTietSanPham.KichThuocDT, new { name = "etxtKichThuocSP" })
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trọng lượng")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.ChiTietSanPham.TrongLuong, new { name = "etxtTrongLuong" })
                                    <span class="add-on">gram</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Loại màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.LoaiManHinh, new { name = "etxtLoaiManHinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kích thước màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.KichThuocManHinh, new { name = "etxtKichThuocManHinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mô tả kích thước màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.MoTaKichThuocManHinh, new { name = "etxtMoTaKichThuocManHinh", @class = "input-xlarge focused", @rows = "8" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kiểu chuông")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.KieuChuong, new { name = "etxtKieuChuong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngõ Audio")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.NgoAudio)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Danh bạ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.DanhBa, new { name = "etxtDanhBa", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Các số đã gọi")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CacSoDaGoi, new { name = "etxtCacSoDaGoi", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bộ nhớ trong")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.BoNhoTrong, new { name = "etxtBoNhoTrong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Khe cắm thẻ nhớ")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.KheCamTheNho)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "GPRS")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.GPRS)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "EDGE")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.EDGE)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tốc độ 3G")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TocDo3G, new { name = "etxtTocDo3G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "NFC")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.NFC)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "WLAN")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.WLAN, new { name = "etxtWLAN", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bluetooth")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Bluetooth, new { name = "etxtBluetooth", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hồng ngoại")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.HongNgoai)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "USB")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.USB, new { name = "etxtUSB", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Camera chính")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CameraChinh, new { name = "etxtCameraChinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Camera phụ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CameraPhu, new { name = "etxtCameraPhu", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Đặc điểm")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.DacDiem, new { name = "etxtDacDiem", @class = "input-xlarge focused", @rows = "8" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Quay phim")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.QuayPhim, new { name = "etxtQuayPhim", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bộ xử lý")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.BoXuLy, new { name = "etxtBoXuLy", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Chipset")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Chipset, new { name = "etxtChipset", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tin nhắn")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TinNhan, new { name = "etxtTinNhan", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trình duyệt")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.TrinhDuyet, new { name = "etxtTrinhDuyet", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Radio")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.Radio)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trò chơi")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TroChoi, new { name = "etxtTroChoi", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngôn ngữ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.NgonNgu, new { name = "etxtNgonNgu", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "GPS")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.GPS, new { name = "etxtGPS", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Java")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Java, new { name = "etxtJava", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mô tả java")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.MoTaJava, new { name = "etxtMoTaJava", @class = "input-xlarge focused", @rows = "10" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Pin chuẩn")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.PinChuan, new { name = "etxtinChuan", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian chờ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.ThoiGianCho, new { name = "etxtThoiGianCho", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian đàm thoại")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.ThoiGianDamThoai, new { name = "etxtThoiGianDamThoai", @class = "input-xlarge focused" })
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                            <button class="btn btn-danger" type="reset">Hủy bỏ</button>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
        @*Modal Dialog*@

        <div class="modal hide fade" id="ModalLoaiSanPham">
            @using (Html.BeginForm("CreateProductSubmit", "adminProduct", FormMethod.Post, new { id = "CreateProduct" }))
            {
                <fieldset>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3>Thêm loại Sản phẩm</h3>
                    </div>
                    <div class="modal-body">

                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên Loại Sản Phẩm")
                            </div>
                            <div class="controls">                                
                                @Html.TextBoxFor(item => item.SanPham.LoaiSanPham.TenLoaiSP, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Slug")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.SanPham.LoaiSanPham.LinkName, new { @class = "input-xlarge focused" })
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn" data-dismiss="modal">Close</a>
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </fieldset>
            }
        </div>

        <div class="modal hide fade" id="ModalNhaSanXuat">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Thêm Nhà sản xuất</h3>
            </div>
            <div class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <a href="#" class="btn btn-primary">Save changes</a>
            </div>
        </div>
        @*End Modal Dialog*@
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

