﻿@model MobileWeb.ViewModels.ViewModelAdminProducts
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Thêm sản phẩm</span>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="control-group">
                <div class="control-label">
                    @Html.Label("", "Hình ảnh")
                </div>
                <div class="controls">
                    <div class="portfolio_1_4">
                        <ul id="list">
                            @foreach (var i in ViewBag.img)
                            {
                                <li class="app">
                                    <span class="image" style="position: relative">
                                        <a href="#" data-rel="prettyPhoto" class="img-thumb">
                                            <img class="portfolio_image" src="~/@Url.Content(i.Link)" alt="" /></a>
                                        <a onclick="return confirm('Bạn có chắc chắn muốn xóa');" href="@Url.Action("DeleteHinh", new { @MaHinhAnh = i.MaHinhAnh, @MaSP = i.MaSP })" class="button red">
                                            <i class="icon-trash icon-white"></i>
                                            Delete
                                        </a>
                                    </span>
                                </li>
                            }
                        </ul>
                    </div>

                </div>

            </div>


            @using (Html.BeginForm("InsertHinh", "adminProduct", FormMethod.Post, new { enctype = "multipart/form-data", @class = "insert_form" }))
                    {
                    
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Chọn đường dẫn")
                            </div>
                            <div class="controls">
                                <div class="uploader">
                                    <input name="linkhinh" type="file" class="input-file uniform_on" />
                                    @Html.Hidden("MaSP", new { @ViewBag.MaSP });
                                </div>
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="$('.insert_form').submit();">Thêm Hình</a>
                                @*<button type="submit" class="btn btn-primary">Thêm Hình</button>*@
                            </div>
                        </div>                    
                    }

        </div>
        <!--/span-->
    </div>
    <!--/row-->
    <!-- content ends -->
