﻿@model List<MobileWebBLL.Models.SanPham>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Sản phẩm</h2>
            <div class="box-icon">
                <div class="btn btn-success">
                    @Html.ActionLink("Create", "CreateProduct", "adminProduct", null, new { id = "btnCreateProduct" })
                </div>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Nhà sản xuất</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Số lượt xem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.TenSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.LoaiSanPham.TenLoaiSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NhaSanXuat.TenNSX)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.SoLuong)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.DonGia)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.SoLuotXem)</td>
                            <td class="center">
                                <a class="btn btn-success" href="@Url.Action("adminShowDetailProduct", new { @MaSP = item.MaSP})">
                                    <i class="icon-zoom-in icon-white"></i>
                                </a>
                                <a class="btn btn-info" href="@Url.Action("ShowEidtPruduct", new { @MaSP = item.MaSP })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("DeleteProduct", new { @MaSP = item.MaSP})">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

