﻿@model MobileWeb.ViewModels.ViewModelAdminProducts
@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin sản phẩm", "Index", "adminProduct", null, new { id = "returnListProduct" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Sửa thông tin sản phẩm</span>
        </li>
    </ul>
</div>
@if (ViewBag.Mess != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Mess
    </div>
}
<p></p>
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("EditProduct", "adminProduct", FormMethod.Post, new { id = "EditProduct", @class = "editProduct" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.SanPham.MaSP, new { name = "ehidMaSanPham", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.SanPham.TenSP, new { name = "etxtTenSanPham", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Loại sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.SanPham.MaLoaiSP, new SelectList(@ViewBag.lsp, "MaLoaiSP", "TenLoaiSP"), new { name = "edrdLoaiSP", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Nhà sản xuất")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.SanPham.MaNSX, new SelectList(@ViewBag.nsx, "MaNSX", "TenNSX"), new { name = "edrdNhaSX", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Số lượng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.SanPham.SoLuong, new { name = "etxtSoLuong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Đơn giá")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    <span class="add-on">$</span>
                                    @Html.TextBoxFor(item => item.SanPham.DonGia, new { name = "etxtDonGia" })
                                    <span class="add-on">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian bảo hành")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.SanPham.BaoHanh, new { name = "etxtBaoHanh" })
                                    <span class="add-on">Tháng</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Sản phẩm kèm theo")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.SanPham.SanPhamKemTheo, new { name = "etxtSanPhamKemTheo", @class = "input-xlarge focused" })
                            </div>
                        </div>

                        <div class="box-header well" data-original-title>
                            <h2><i class="icon-edit"></i>Chi tiết sản phẩm</h2>
                        </div>

                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hệ điều hành")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.HDH, new { name = "etxtHDH", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mạng 2G")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.Mang2G, new { name = "etxtMang2G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mạng 3G")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.Mang3G, new { name = "etxtMang3G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày ra mắt")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.NgayRaMat, new { name = "etxtNgayRaMat", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày có sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.NgayCoHang, new { name = "etxtNgayCoHang", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kích thước sản phẩm")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.ChiTietSanPham.KichThuocDT, new { name = "etxtKichThuocSP" })
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trọng lượng")
                            </div>
                            <div class="controls">
                                <div class="input-prepend input-append">
                                    @Html.TextBoxFor(item => item.ChiTietSanPham.TrongLuong, new { name = "etxtTrongLuong" })
                                    <span class="add-on">gram</span>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Loại màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.LoaiManHinh, new { name = "etxtLoaiManHinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kích thước màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.KichThuocManHinh, new { name = "etxtKichThuocManHinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mô tả kích thước màn hình")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.MoTaKichThuocManHinh, new { name = "etxtMoTaKichThuocManHinh", @class = "input-xlarge focused", @rows = "8" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Kiểu chuông")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.KieuChuong, new { name = "etxtKieuChuong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngõ Audio")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.NgoAudio)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Danh bạ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.DanhBa, new { name = "etxtDanhBa", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Các số đã gọi")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CacSoDaGoi, new { name = "etxtCacSoDaGoi", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bộ nhớ trong")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.BoNhoTrong, new { name = "etxtBoNhoTrong", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Khe cắm thẻ nhớ")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.KheCamTheNho)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "GPRS")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.GPRS)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "EDGE")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.EDGE)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tốc độ 3G")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TocDo3G, new { name = "etxtTocDo3G", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "NFC")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.NFC)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "WLAN")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.WLAN, new { name = "etxtWLAN", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bluetooth")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Bluetooth, new { name = "etxtBluetooth", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hồng ngoại")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.HongNgoai)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "USB")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.USB, new { name = "etxtUSB", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Camera chính")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CameraChinh, new { name = "etxtCameraChinh", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Camera phụ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.CameraPhu, new { name = "etxtCameraPhu", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Đặc điểm")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.DacDiem, new { name = "etxtDacDiem", @class = "input-xlarge focused", @rows = "8" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Quay phim")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.QuayPhim, new { name = "etxtQuayPhim", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Bộ xử lý")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.BoXuLy, new { name = "etxtBoXuLy", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Chipset")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Chipset, new { name = "etxtChipset", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tin nhắn")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TinNhan, new { name = "etxtTinNhan", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trình duyệt")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChiTietSanPham.TrinhDuyet, new { name = "etxtTrinhDuyet", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Radio")
                            </div>
                            <div class="controls">
                                @Html.CheckBoxFor(item => item.ChiTietSanPham.Radio)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Trò chơi")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.TroChoi, new { name = "etxtTroChoi", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngôn ngữ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.NgonNgu, new { name = "etxtNgonNgu", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "GPS")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.GPS, new { name = "etxtGPS", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Java")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.Java, new { name = "etxtJava", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Mô tả java")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.MoTaJava, new { name = "etxtMoTaJava", @class = "input-xlarge focused", @rows = "10" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Pin chuẩn")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.PinChuan, new { name = "etxtinChuan", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian chờ")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.ThoiGianCho, new { name = "etxtThoiGianCho", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian đàm thoại")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.ChiTietSanPham.ThoiGianDamThoai, new { name = "etxtThoiGianDamThoai", @class = "input-xlarge focused" })
                            </div>
                        </div>
                    </fieldset>
                }

                <div class="form-horizontal">
                    @using (Html.BeginForm("InsertHinh", "adminProduct", FormMethod.Post, new { enctype = "multipart/form-data", @class = "insert_form" }))
                    {
                    
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Chọn đường dẫn")
                            </div>
                            <div class="controls">
                                <div class="uploader">
                                    <input name="linkhinh" type="file" class="input-file uniform_on" />
                                    @Html.HiddenFor(item => item.HinhAnh.MaSP);
                                </div>
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="$('.insert_form').submit();">Thêm Hình</a>
                            </div>
                        </div>                    
                    }
                </div>
                @*Het insert hinh*@
                <div id="insertHinhAnhSanPham">
                    @Html.Action("LoadUploadHinh", "adminProduct", new { MasP = Model.SanPham.MaSP })
                </div>
                @*<div class="form-horizontal">
                    @using (Html.BeginForm("InsertHinh", "adminProduct", FormMethod.Post, new { enctype = "multipart/form-data", @class = "insert_form" }))
                    {
                    
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Chọn đường dẫn")
                            </div>
                            <div class="controls">
                                <div class="uploader">
                                    <input name="Link" type="file" class="input-file uniform_on" />
                                    @Html.HiddenFor(item => item.HinhAnh.MaSP);
                                </div>
                                <a href="javascript:void(0);" class="btn btn-primary" onclick="$('.insert_form').submit();">Thêm Hình</a>
                            </div>
                        </div>                    
                    }
                </div> 
                <div class="control-group">
                    <div class="control-label">
                        @Html.Label("", "Hình ảnh")
                    </div>
                    <div class="controls">
                        <div class="portfolio_1_4">
                            <ul id="list">
                                @foreach (var i in ViewBag.img)
                                {
                                    <li class="app">
                                        <span class="image" style="position: relative">
                                            <a href="#" data-rel="prettyPhoto" class="img-thumb">
                                                <img class="portfolio_image" src="~/@Url.Content(i.Link)" alt="" /></a>
                                            <a onclick="return confirm('Bạn có chắc chắn muốn xóa');" href="@Url.Action("DeleteHinh", new { @MaHinhAnh = i.MaHinhAnh, @MaSP = i.MaSP })" class="button red">
                                                <i class="icon-trash icon-white"></i>
                                                Delete
                                            </a>
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>

                </div>*@@*Het hien thi hinh*@


                <div class="form-actions">
                    <a href="javascript:void(0);" class="btn btn-primary" onclick="$('.editProduct').submit();">Cập nhật sản phẩm</a>
                    <div class="btn btn-danger">
                        <i class="icon-trash icon-white"></i>
                        @Html.ActionLink("Hủy bỏ", "Index", "adminProduct")
                    </div>
                </div>


            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
