﻿@model List<MobileWebBLL.Models.ChiTietHoaDon>
@{
    ViewBag.Title = "Thông tin chi tiết hóa đơn";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin hóa đơn", "Index", "adminHoaDon", null, new { id = "returnListHoaDon" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Quản lý thông tin chi tiết hóa đơn</span>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Chi tiết hóa đơn</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itembill => item.MaHD)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.SanPham.TenSP)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.SoLuong)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.ThanhTien)</td>
                            <td class="center">
                                @if(item.HoaDon.TinhTrang == 1)
                                {
                                    <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn hàng này');" href="@Url.Action("DeleteDetailbill", new { @MaCTHD = item.MaCTHD })">
                                        <i class="icon-trash icon-white"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
