﻿@model List<MobileWebBLL.Models.HoaDon>
@{
    ViewBag.Title = "Thông tin hóa đơn";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin hóa đơn", "Index", "adminHoaDon", null, new { id = "returnListHoaDon" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Đơn hàng đã hủy</h2>
        </div>
		@if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ giao hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itembill => item.KhachHang.TenKH)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.DienThoai)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.DiaChiGiaoHang)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.ThoiGianDatHang)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.TongTien)</td>
                            @switch (item.TinhTrang)
                            {
                                case 0: <td class="center">Hủy</td>; break;
                            }
                            <td class="center">
                                <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn hàng này');" href="@Url.Action("Deletebill", new { @MaHD = item.MaHD })">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
