﻿@model List<MobileWebBLL.Models.HoaDon>
@{
    ViewBag.Title = "Thông tin hóa đơn";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin hóa đơn", "Index", "adminHoaDon", null, new { id = "returnListHoaDon" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Chi tiết hóa đơn</h2>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <a class="btn btn-primary" data-rel ="tooltip" title="Xem thông tin các đơn hàng đã hủy" href="@Url.Action("adminShowListBillCancel")">
                Các đơn hàng đã hủy
            </a>
            <a class="btn btn-danger" data-rel ="tooltip" title="Hủy các đơn hàng chưa thanh toán sau 24 giờ kể từ khi đặt hàng" href="@Url.Action("CancelBillOverdue")">
                Hủy đơn hàng
            </a>

            <br />
            <br />
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Điện thoại</th>
                        <th>Địa chỉ giao hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Hình thức giao hàng</th>
                        <th>Hình thức thanh toán</th>
                        <th>Tổng tiền</th>
                        <th>Tình trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itembill => item.TenKHDat)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.DienThoai)</td>
                            <td class="center">@Html.DisplayFor(Itembill => item.DiaChiGiaoHang)</td>
                            <td class="center">@Html.DisplayFor(Itembill =>item.ThoiGianDatHang)</td>
                            @switch (item.HinhThucGiaoHang)
                            {
                                case 1: <td class="center">Giao hàng tận nơi</td>;break;
                                case 2: <td class="center">Tới nhận hàng</td>;break;
                            }
                            @switch (item.HinhThucThanhToan)
                            {
                                case 1: <td class="center">Thanh toán online</td>;break;
                                case 2: <td class="center">Thanh toán trực tiếp</td>;break;
                            }
                            <td class="center">@Html.DisplayFor(Itembill => item.TongTien)</td>
                            @switch (item.TinhTrang)
                            {
                                case 1: <td class="center">Chưa thanh toán
                                            <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật đã thanh toán" href="@Url.Action("UpdateTinhTrang12", new { @MaHD = item.MaHD })">
                                                <i class="icon-edit icon-white"></i>
                                            </a>
                                        </td>; break;
                                case 2: <td class="center">Đã thanh toán - chưa xác nhận - chưa giao hàng
                                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật đã thanh toán" href="@Url.Action("UpdateTinhTrang12", new { @MaHD = item.MaHD })">
                                                    <i class="icon-edit icon-white"></i>
                                                </a>
                                            </td>; break;
                                case 3: <td class="center">Đã xác nhận thanh toán - chưa giao hàng
                                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật đang giao hàng" href="@Url.Action("UpdateTinhTrang3", new { @MaHD = item.MaHD })">
                                                    <i class="icon-edit icon-white"></i>
                                                </a>
                                            </td>; break;
                                case 4: <td class="center">Đã xác nhận thanh toán - đang giao hàng
                                                    <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật đã giao hàng" href="@Url.Action("UpdateTinhTrang4", new { @MaHD = item.MaHD })">
                                                        <i class="icon-edit icon-white"></i>
                                                    </a>
                                                </td>; break;
                                case 5: <td class="center">Đã giao hàng</td>; break;
                            }
                            <td class="center">
                                <a class="btn btn-success" data-rel ="tooltip" title="Xem chi tiết" href="@Url.Action("adminShowDetailBill", new { @MaHD = item.MaHD})">
                                    <i class="icon-zoom-in icon-white"></i>
                                </a>
                                @if (item.TinhTrang == 1 || item.TinhTrang == 2 || item.TinhTrang == 3)
                                {
                                    <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật đơn hàng" href="@Url.Action("ShowEditBill", new { @MaHD = item.MaHD })">
                                        <i class="icon-edit icon-white"></i>
                                    </a>
                                    <a class="btn btn-warning" data-rel ="tooltip" title="Hủy đơn hàng" onclick="return confirm('Bạn có chắc chắn muốn hủy đơn hàng này');" href="@Url.Action("CancelBill", new { @MaHD = item.MaHD })">
                                        <i class="icon-trash icon-white"></i>
                                    </a>
                                }
                                @if(item.TinhTrang == 0)
                                {
                                    <a class="btn btn-danger" data-rel ="tooltip" title="Xóa đơn hàng" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn hàng này');" href="@Url.Action("Deletebill", new { @MaHD = item.MaHD })">
                                        <i class="icon-trash icon-white"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
