﻿@model MobileWebBLL.Models.HoaDon
@{
    ViewBag.Title = "Cập nhật thông tin đơn hàng";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin đơn hàng", "Index", "adminHoaDon", null, new { id = "returnListLoaiSP" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Cập nhật thông tin đơn hàng</span>
        </li>
    </ul>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message
    </div>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin đơn hàng</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("EditBill", "adminHoaDon", FormMethod.Post, new { id = "EditBill" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.MaHD, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên khách hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenKHDat, new { @class = "input-xlarge disabled", disabled = "" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Điện thoại")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.DienThoai, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Địa chỉ giao hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.DiaChiGiaoHang, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Thời gian đặt hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ThoiGianDatHang, new { @class = "input-xlarge disabled", disabled = "" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hình thức giao hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.HinhThucGiaoHang, new { @class = "input-xlarge disabled", disabled = "" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Hình thức thanh toán")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.HinhThucThanhToan, new { @class = "input-xlarge disabled", disabled = "" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tổng tiền")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TongTien, new { @class = "input-xlarge disabled", disabled = "" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Cập nhật đơn hàng
                            </button>
                            <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn hủy cập nhật');" href="@Url.Action("Index")">
                                <i class="icon-trash icon-white"></i>
                                Hủy bỏ cập nhật
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
