﻿@model MobileWeb.Models.NhanVienModel
@{
    ViewBag.Title = "ShowEditNhanVien";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin nhân viên", "Index", "adminNhanVien", null, new { id = "returnListNhanVien" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Thêm mới nhân viên</span>
        </li>
    </ul>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message
    </div>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin nhân viên</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("CreateEmployee", "adminNhanVien", FormMethod.Post))
                {
                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <fieldset>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(item=>item.TenNV)
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenNV, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.TenNV)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(item=>item.UserName)
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.UserName, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.UserName)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(item=>item.Password)
                            </div>
                            <div class="controls">
                                @Html.PasswordFor(item => item.Password, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(item=>item.ConfirmPassword)
                            </div>
                            <div class="controls">
                                @Html.PasswordFor(item => item.ConfirmPassword, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.ConfirmPassword)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.LabelFor(item=>item.ChucVu)
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChucVu, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.ChucVu)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Thêm mới
                            </button>
                            <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn hủy thêm mới');" href="@Url.Action("Index")">
                                <i class="icon-trash icon-white"></i>
                                Hủy bỏ Thêm mới
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

