﻿@model List<MobileWebBLL.Models.NhanVien>
@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin nhân viên", "Index", "adminNhanVien", null, new { id = "returnListNhanVien" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Nhân viên</h2>
            <div class="box-icon">
                <div class="btn btn-success">
                    @Html.ActionLink("Create", "CreateEmployee", "adminNhanVien", null, new { id = "btnCreateLoaiSP" })
                </div>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListEmployee">
                <thead>
                    <tr>
                        <th>Tên nhân viên</th>
                        <th>Username</th>
                        <th>Chức vụ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itememployee => item.TenNV)</td>
                            <td class="center">@Html.DisplayFor(Itememployee => item.UserProfile.UserName)</td>
                            <td class="center">@Html.DisplayFor(Itememployee => item.ChucVu)</td>
                            <td class="center">
                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật thông tin" href="@Url.Action("ShowEditEmployee", new { @MaNV = item.MaNV })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" data-rel ="tooltip" title="Xóa Nhân viên" onclick="return confirm('Bạn có chắc chắn muốn xóa nhân viên này');" href="@Url.Action("DeleteEmployee", new {@MaNV = item.MaNV, @UserName = item.UserProfile.UserName})">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->