﻿@model List<MobileWebBLL.Models.StatisticParts>
<div class="box-header well" data-original-title>
    <h2>Thống kê</h2>
</div>
<div class="box-content">
    <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
        <thead>
            <tr>
                <th>Ngày</th>
                <th>Doanh thu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@{
                if (item.Day != 0)
                {
                        @item.Day@("/")
                }
                if (item.Month != 0)
                {
                        @item.Month@("/")
                }
                if (item.Year != 0)
                {
                        @item.Year
                }
                    }
                    </td>
                    <td>@item.Revenue</td>
                </tr>
            }
        </tbody>
    </table>
</div>
