﻿@model List<MobileWebBLL.Models.StatisticParts>
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Thống kê", "Index", "adminStatistics")
        </li>
    </ul>
</div>

@using (Html.BeginForm("Index", "adminStatistics", null))
{
    <dl class="dl-horizontal">

        <dt>Từ ngày</dt>
        <dd>@Html.TextBox("fromdate", null, new { @class="datepicker"})
    </dl>
    <dl class="dl-horizontal">
        <dt>Đến ngày</dt>
        <dd>@Html.TextBox("todate", null, new { @class="datepicker"})
    </dl>
    <dl class="dl-horizontal">
        <dt>Thống kê theo</dt>
        <dd>@Html.DropDownList("format",
                                    new List<SelectListItem> 
                                    { 
                                        new SelectListItem { Value = "1", Text = "Ngày", Selected = true },
                                        new SelectListItem { Value = "2", Text = "Tháng" },
                                        new SelectListItem { Value = "3", Text = "Năm" }
                                    })</dd>
    </dl>
    <dl class="dl-horizontal">
        <dd>
            <input type="submit" class="btn btn-primary" value="Thống kê" /></dd>
    </dl>            
}
<div class="row-fluid sortable">
    <div class="box span12" id="divStatistics">
        <div class="box-header well" data-original-title>
            <h2>Thống kê</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Ngày</th>
                        <th>Doanh thu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@{
                        if (item.Day != 0)
                        {
                                @item.Day@("/")
                        }
                        if (item.Month != 0)
                        {
                                @item.Month@("/")
                        }
                        if (item.Year != 0)
                        {
                                @item.Year
                        }
                            }
                            </td>
                            <td>@{ var temp = item.Revenue * 1000; @temp.ToString("0,000");} VNĐ</td>
                        </tr>
                    }
                </tbody>
            </table>

            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript" src="/Scripts/jquery-1.5.1.min.js"></script>
            <script type="text/javascript" src="https://www.google.com/jsapi "></script>
            <script type="text/javascript">// <![CDATA[
                google.load("visualization", "1", { packages: ["corechart"] });
                google.setOnLoadCallback(drawChart);

                function drawChart() {
                    $.post('/adminStatistics/GetAreaChartData?fromdate=@ViewBag.FromDate&todate=@ViewBag.ToDate&format=@ViewBag.Format', {},
            function (data) {
                var tdata = new google.visualization.DataTable();
                var rows = data.length;
                var cols = data[0].length;



                tdata.addColumn('string', data[0][0]);
                for (var i = 0; i < cols; i++) {
                    tdata.addColumn('number', data[0][i]);
                }

                tdata.addRows(data.length);
                for (var i = 1; i < data.length; i++) {
                    tdata.setCell(i, 0, data[i][0]);
                    for (var j = 1; j < cols; j++) {
                        var value = parseInt(data[i][j]);
                        tdata.setCell(i, j, value);

                    }
                }

                var options = {
                    title: "Doanh thu Tini- Vipro",
                    width: 600, height: 400,
                    vAxis: { title: "Thời gian" },
                    hAxis: { title: "Doanh thu" }
                };

                // Create and draw the visualization.

                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(tdata, options);
            });

                }
                // ]]>

            </script>
            <div id="chart_div" style="width: 900px; height: 500px;"></div>

        </div>

    </div>
</div>
