﻿@model List<MobileWebBLL.Models.SanPham>
@{
    var i = 0;
}
<legend>Chi tiết hóa đơn</legend>
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sp in Model)
        {
            {
                i++;
            }
            <tr>
                <td>@i</td>
                <td><a href="detail.html">@sp.TenSP</a></td>
                <td>@{ var temp = sp.DonGia * 1000; @temp.ToString("0,00");}VNĐ</td>
                <td><a href="detail.html">@sp.SoLuong</a></td>                
            </tr>
        }
    </tbody>
</table>