﻿@model MobileWeb.Models.Bill
@{
    ViewBag.Title = "Thông tin hóa đơn - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Thông tin hóa đơn</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        <div>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index", "ShoppingCart")">Giỏ hàng</a> <span class="divider">/</span></li>
                <li class="active">Thông tin hóa đơn</li>
            </ul>
            <!-- START CTHD SIDE -->
            @Html.Action("_LoadChiTietHD", "Payment")
            <!-- START CTHD SIDE -->
        </div>
        <div>
            <div class="bottom-line" style="border-bottom: 1px solid rgb(217, 217, 217);">
                <legend>Tổng tiền</legend>
            </div>
            <div style="text-align:right; width:100%"><span style="color:green; font-size:14pt">@Model.TongTienVND.ToString("0,000")</span> VNĐ</div>
            <div style="text-align:right; width:100%"><span style="color:green; font-size:14pt">@Model.TongTienUSD.ToString("0.000")</span> USD</div>
        </div>
        <legend>Thông tin giao nhận</legend>
        <span>*Vui lòng xác nhận thông tin dưới đây, có thể thay đổi nếu cần thiết.</span>
        @using (Html.BeginForm("PostToPayPal", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="control-group">
                @Html.LabelFor(m => m.TenKHDat, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.TenKHDat)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DienThoai, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DienThoai)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DiaChiGiaoHang, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DiaChiGiaoHang)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.HinhThucGiaoHang, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(
                                    m => m.HinhThucGiaoHang,
                                    new List<SelectListItem> 
                                    { 
                                        new SelectListItem { Value = "1", Text = "Giao hàng tận nơi", Selected = true },
                                        new SelectListItem { Value = "2", Text = "Giao hàng tại cửa hàng TiniVippro" }
                                    })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.HinhThucThanhToan, new { @class = "control-label" })
                <div class="controls">
                    @Html.DropDownListFor(
                                    m => m.HinhThucThanhToan,
                                    new List<SelectListItem> 
                                    { 
                                        new SelectListItem { Value = "1", Text = "Thanh toán qua Paypal", Selected = true },
                                        new SelectListItem { Value = "2", Text = "Thanh toán khi giao hàng" }
                                    })
                </div>
            </div>
            <div class="control-group">
                @Html.HiddenFor(m => m.TongTienUSD)
                @Html.HiddenFor(m => m.TongTienVND)
                @Html.HiddenFor(m => m.MaKH)
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Lưu hóa đơn và Thanh toán" />
                </div>
            </div>
        }
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
