﻿@model MobileWeb.Models.RegisterModel
@{
    ViewBag.Title = "Tin nhắn - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Tin nhắn từ TiniVippro</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @ViewData["message"]
            </div>
        }
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->

