﻿@model MobileWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "cập nhật mật khẩu";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Cập nhật mật khẩu</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>

                <p class="message-success">@ViewBag.StatusMessage</p>

                <p>You're logged in as <strong><i>@User.Identity.Name</i></strong>.</p>

                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_adminChangePasswordPartial")
                }
                else
                { 
                    @Html.Partial("_adminSetPasswordPartial")
                }

                <section id="externalLogins">
                    @Html.Action("RemoveExternalLogins","Account")
                </section>

            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

