﻿@model MobileWeb.ViewModels.ViewModelAdminUpPersonalInfo
@{
    ViewBag.Title = "Cập nhật thông tin cá nhân";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin cá nhân</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("EditEmployee", "adminNhanVien", FormMethod.Post, new { id = "EditNhanVien" }))
                {
                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.MaNV, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.MaNV)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên nhân viên")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenNV, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.TenNV)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên đăng nhập")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.Username, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.Username)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "chức vụ")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.ChucVu, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.ChucVu)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Cập nhật
                            </button>
                            <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn hủy cập nhật');" href="@Url.Action("Index")">
                                <i class="icon-trash icon-white"></i>
                                Hủy bỏ cập nhật
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

