﻿@model List<MobileWebBLL.Models.SanPham>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Sắp xếp theo</a>
        <ul class="nav">
            <li @if (int.Parse(ViewData["sort"].ToString()) == 0)
                        {@("class=active")}>@Ajax.ActionLink("Mới nhất", "ChangePageSearch",
            new
            {
                sort = 0
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
            <li @if (int.Parse(ViewData["sort"].ToString()) == 1)
                        {@("class=active")}>@Ajax.ActionLink("Tên sản phẩm", "ChangePageSearch",
            new
            {
                sort = 1
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
            <li @if (int.Parse(ViewData["sort"].ToString()) == 2)
                        {@("class=active")}>@Ajax.ActionLink("Giá tăng dần", "ChangePageSearch",
            new
            {
                sort = 2
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
            <li @if (int.Parse(ViewData["sort"].ToString()) == 3)
                        {@("class=active")}>@Ajax.ActionLink("Giá giảm dần", "ChangePageSearch",
            new
            {
                sort = 3
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
            <li @if (int.Parse(ViewData["sort"].ToString()) == 4)
                        {@("class=active")}>@Ajax.ActionLink("Còn hàng", "ChangePageSearch",
            new
            {
                sort = 4
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
        </ul>
    </div>
</div>
<div class="portfolio_1_4_list">

    @if (Model.Count != 0)
    {
        <ul id="list">
            @foreach (var item in Model)
            {
                <!-- START PORTFOLIO COLUMN #1 -->
                <li id="id-1" class="app">
                    <span class="image" style="position: relative">
                        @if (item.HinhAnhs.Count() == 0)
                        {
                            <a href="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" alt="" /></a>
                        }
                        else
                        {                        
                            <a href="@Url.Content("~/" + item.HinhAnhs.FirstOrDefault().Link)" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/" + item.HinhAnhs.FirstOrDefault().Link)" alt="" /></a>                                                  
                        }
                        <a style="position: absolute; right: -22px; bottom: -5px;" href="javascript:void(0)" class="button green" onclick="addShoppingCart(@item.MaSP, '@item.TenSP')">Mua hàng</a>
                    </span>
                    <span class="title">
                        @Html.ActionLink(@item.TenSP, "Detail", "Product", new { carrier = @item.NhaSanXuat.TenNSX, category = @item.LoaiSanPham.LinkName, id = @item.MaSP }, new { @class = "linkname" })
                    </span>
                    <span class="description">
                        <strong>Bảo hành : </strong>Chính hãng @item.BaoHanh tháng<br />
                        <strong class="iconmini-ch">@if (@item.SoLuong == 0)
                                                    {@("Hết hàng")}
                                                    else
                                                    {@("Còn hàng")}</strong><br />
                        <strong class="pro-price">@{ var temp = item.DonGia * 1000; @temp.ToString("0,000");}VNĐ</strong><br />
                    </span>
                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #1 -->
            }
        </ul>
    }
    else
    {
        <p><b>Không tồn tại sản phẩm nào</b></p>
    }

    <div class="clear"></div>
</div>

<div class="clear padding10"></div>

<!-- START PAGINATION -->
<div class="pages">
    @{
        var prev = int.Parse(ViewData["page"].ToString()) - 1;
        var next = int.Parse(ViewData["page"].ToString()) + 1;
    }
    @if (int.Parse(ViewData["page"].ToString()) > 1)
    {
        @Ajax.ActionLink("<", "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = prev
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            },
            new { @class = "prev" })
    }
    else
    {
        <a class="prev">&nbsp;</a>
    }
    @if (int.Parse(ViewData["page"].ToString()) <= 3 || int.Parse(ViewData["pages"].ToString()) <= 5)
    {
        int i = 1;
        while (i < int.Parse(ViewData["page"].ToString()))
        {
        @Ajax.ActionLink(i.ToString(), "ChangePageSearch",
                new
                {
                    carrier = @ViewData["carrier"],
                    category = @ViewData["category"],
                    sort = @ViewData["sort"],
                    page = @i
                },
                new AjaxOptions
                {
                    UpdateTargetId = "partial_mobile",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                })
            i++;
        }
    }
    else
    {
        @Ajax.ActionLink("1", "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = 1
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })
        <a>...</a>            
        if (int.Parse(ViewData["page"].ToString()) <= int.Parse(ViewData["pages"].ToString()) - 2)
        {
            int i = int.Parse(ViewData["page"].ToString()) - 1;
        @Ajax.ActionLink(i.ToString(), "ChangePageSearch",
                new
                {
                    carrier = @ViewData["carrier"],
                    category = @ViewData["category"],
                    sort = @ViewData["sort"],
                    page = @i
                },
                new AjaxOptions
                {
                    UpdateTargetId = "partial_mobile",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                })
        }
        else
        {
            int i = int.Parse(ViewData["pages"].ToString()) - 3;
            while (i < int.Parse(ViewData["page"].ToString()))
            {
        @Ajax.ActionLink(i.ToString(), "ChangePageSearch",
                    new
                    {
                        carrier = @ViewData["carrier"],
                        category = @ViewData["category"],
                        sort = @ViewData["sort"],
                        page = @i
                    },
                    new AjaxOptions
                    {
                        UpdateTargetId = "partial_mobile",
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace
                    })
                i++;
            }
        }


    }
    <a class="selected">@ViewData["page"]</a>
    @if (int.Parse(ViewData["pages"].ToString()) <= 5)
    {
        int i = int.Parse(ViewData["page"].ToString()) + 1;
        while (i <= int.Parse(ViewData["pages"].ToString()))
        {
        @Ajax.ActionLink(i.ToString(), "ChangePageSearch",
                new
                {
                    carrier = @ViewData["carrier"],
                    category = @ViewData["category"],
                    sort = @ViewData["sort"],
                    page = @i
                },
                new AjaxOptions
                {
                    UpdateTargetId = "partial_mobile",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace
                })
            i++;
        }

    }
    else if (int.Parse(ViewData["page"].ToString()) <= int.Parse(ViewData["pages"].ToString()) - 2)
    {
        int i = int.Parse(ViewData["page"].ToString()) + 1;
        @Ajax.ActionLink(@i.ToString(), "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = @i
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })
        if (i < int.Parse(ViewData["pages"].ToString()) - 1)
        {
        <a>...</a>
        }
        @Ajax.ActionLink(ViewData["pages"].ToString(), "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = @ViewData["pages"]
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })            
    }
    else if (int.Parse(ViewData["pages"].ToString()) > int.Parse(ViewData["page"].ToString()))
    {
        @Ajax.ActionLink(ViewData["pages"].ToString(), "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = @ViewData["pages"]
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })            
    }
    @if (int.Parse(ViewData["pages"].ToString()) > int.Parse(ViewData["page"].ToString()))
    {
        @Ajax.ActionLink(">", "ChangePageSearch",
            new
            {
                carrier = @ViewData["carrier"],
                category = @ViewData["category"],
                sort = @ViewData["sort"],
                page = @next
            },
            new AjaxOptions
            {
                UpdateTargetId = "partial_mobile",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            },
            new { @class = "next" })
    }
    else
    {
        <a class="next">&nbsp;</a>
    }
</div>
<!-- END PAGINATION -->
