﻿@model MobileWeb.ViewModels.ViewModelSearch
@using (Ajax.BeginForm("SearchAjax", "Product", null, new AjaxOptions { UpdateTargetId = "partial_mobile", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
{
    <table class="table table-hover" id="tab-search">
        <tr>
            <td>Tên sản phẩm</td>
            <td>
                @Html.TextBoxFor(model => model.SanPham.TenSP, null, null)</td>
        </tr>
        <tr>
            <td>Loại sản phẩm</td>
            <td>
                @Html.DropDownListFor(model => model.SanPham.MaLoaiSP, Model.LoaiSanPhams
                                )</td>
        </tr>
        <tr>
            <td>Hãng sản xuất</td>
            <td>
                @Html.DropDownListFor(model => model.SanPham.MaNSX, Model.NhaSanXuats
                                )</td>
        </tr>
        <tr>
            <td>Giá</td>
            <td>
                @Html.DropDownListFor(
                                    model => model.SanPham.DonGia,
                                    new List<SelectListItem> 
                                    { 
                                        new SelectListItem { Value = "0", Text = "Chọn giá...", Selected = true },
                                        new SelectListItem { Value = "1", Text = "Dưới 1,5 triệu"},
                                        new SelectListItem { Value = "2", Text = "Giá từ 1,5 triệu đến 4 triệu" },
                                        new SelectListItem { Value = "3", Text = "Giá từ 4 triệu đến 6 triệu" },
                                        new SelectListItem { Value = "4", Text = "Giá từ 6 triệu đến 9 triệu" },
                                        new SelectListItem { Value = "5", Text = "Giá từ 9 triệu đến 12 triệu" },
                                        new SelectListItem { Value = "6", Text = "Giá trên 12 triệu đồng" }
                                    })</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Tìm"/></td>
        </tr>
    </table>
}