﻿@model MobileWeb.ViewModels.ViewModelDetailProduct
@{
    ViewBag.Title = "Chi tiết sản phẩm - TiniVippro";
}
<script src="@Url.Content("~/Scripts/home/portfolio-detail.js")" type="text/javascript"></script>
<!-- START CONTENT -->
<section class="container clearfix">
    <!-- Page Title -->
    <header class="container page_info clearfix">

        <h1 class="regular brown bottom_line">@Model.Sanpham.TenSP</h1>

        <div class="clear"></div>
    </header>

    <!-- /Page Title -->
    <div class="content clearfix">
        <!-- START PORTFOLIO SLIDER -->
        <div class="col_1_2">
            <div class="portfolio_slider_container">
                <ul id="slider">
                    @if (Model.Sanpham.HinhAnhs.Count() > 0)
                    {
                        foreach (var item in Model.Sanpham.HinhAnhs.ToList())
                        {
                        <li>
                            <a data-rel="prettyPhoto" href="@Url.Content("~/" + item.Link)" title="@Model.Sanpham.TenSP">
                                <img src="@Url.Content("~/" + item.Link)" alt="" /></a>
                            <p class="caption">@Model.Sanpham.TenSP</p>
                        </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a data-rel="prettyPhoto" href="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" title="@Model.Sanpham.TenSP">
                                <img src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" alt="" /></a>
                            <p class="caption">@Model.Sanpham.TenSP</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <!-- END PORTFOLIO SLIDER -->
        <!-- START PORTFOLIO DESCRIPTION -->
        <div class="col_1_2 last">
            <h4 class="bottom_line regular">@Model.Sanpham.TenSP</h4>
            <div style="padding-left: 10px;">
                <p>
                    <b style="color: #50AF5B; font-size: 13pt;">@{ var temp = Model.Sanpham.DonGia * 1000; @temp.ToString("0,000");} VNĐ</b><br />
                    @if (Model.Sanpham.DonGia != int.Parse(ViewData["GiaThat"].ToString()))
                        {
                            <strong style="text-decoration: line-through;">@{ var temp2 = int.Parse(ViewData["GiaThat"].ToString()) * 1000; @temp2.ToString("0,000");}VNĐ</strong><br />
                        }
                    <strong style="font-size: 13pt;">Thông tin cơ bản</strong><br />
                    <b style="color: #D1B39E;">Tình trạng :</b> còn hàng<br />
                    <b style="color: #D1B39E;">Bảo hành :</b> Chính hãng @Model.Sanpham.BaoHanh tháng<br />
                    <b style="color: #D1B39E;">Số lượt xem :</b> @{ temp = Model.Sanpham.SoLuotXem; @temp.ToString("0,000");}lần<br />
                    Giá đã bao gồm 10% VAT<br />
                    <b style="color: #D1B39E;">Bao gồm :</b> @Model.Sanpham.SanPhamKemTheo<br />
                    <b style="color: #D1B39E;">Quà tặng :</b>@{ var tam = @Model.Sanpham.KhuyenMais.Where(p => p.NgayBD <= DateTime.Now && DateTime.Now <= p.NgayKT);
                                                                var qua = "";
                                                                if (tam.Count() > 0)
                                                                    qua = tam.First().QuaTang1.TenQuaTang;
                                                                else
                                                                    qua = "Không có";
                    }@qua<br />
                    <b style="color: #D1B39E;">Giảm :</b> @{ 
                        var km = 0;
                        if (tam.Count() > 0)
                        {
                            km = (tam.First().GiamGia ?? 0);
                        }
                        else
                        {
                            km = 0;
                        }
                    }@km%<br />
                    <br />
                    <a href="javascript:void(0)" class="button green" onclick="addShoppingCart(@Model.Sanpham.MaSP, '@Model.Sanpham.TenSP')">Mua hàng</a>
                </p>
            </div>
        </div>
        <!-- END PORTFOLIO DESCRIPTION -->
        <div class="clear"></div>
    </div>
    <div class="sidebar">
        @if (Model.SanphamsLienQuan.Count > 0)
        {
            <h4>Sản phẩm liên quan</h4>
            foreach (var item in Model.SanphamsLienQuan)
            {
<div class="rightProduct">
            <p class="img">
                <a href="@Url.Action("Detail", "Product", new { carrier = @item.NhaSanXuat.TenNSX, category = @item.LoaiSanPham.LinkName, id = @item.MaSP }, null)">
                    @if (item.HinhAnhs.Count > 0)
                    {
<img src="@Url.Content("~/" + item.HinhAnhs.FirstOrDefault().Link)" title="@item.TenSP"/>
                    }
                    else
                    {
<img src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" title="@item.TenSP"/>
                    }
                </a>
            </p>
            <p class="pname">@Html.ActionLink(@item.TenSP, "Detail", "Product", new { carrier = @item.NhaSanXuat.TenNSX, category = @item.LoaiSanPham.LinkName, id = @item.MaSP }, null)</p>
            <p class="orange"><b>@{ temp = item.DonGia * 1000; @temp.ToString("0,000");}VNĐ</b></p>
        </div>
            }
        }
        @if (Model.SanphamsDongGia.Count > 0)
        {
            <h4>Sản phẩm cùng giá</h4>
            foreach (var item in Model.SanphamsDongGia)
            {
<div class="rightProduct">
            <p class="img">
                <a href="@Url.Action("Detail", "Product", new { carrier = @item.NhaSanXuat.TenNSX, category = @item.LoaiSanPham.LinkName, id = @item.MaSP }, null)">
                    @if (item.HinhAnhs.Count > 0)
                    {
<img src="@Url.Content("~/" + item.HinhAnhs.FirstOrDefault().Link)" title="@item.TenSP"/>
                    }
                    else
                    {
<img src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" title="@item.TenSP"/>
                    }
                </a>
            </p>
            <p class="pname">@Html.ActionLink(@item.TenSP, "Detail", "Product", new { carrier = @item.NhaSanXuat.TenNSX, category = @item.LoaiSanPham.LinkName, id = @item.MaSP }, null)</p>
            <p class="orange"><b>@{ temp = item.DonGia * 1000; @temp.ToString("0,000");} VNĐ</b></p>
        </div>
            }
        }
    </div>
    <div class="clear"></div>
    <div class="content clearfix">
        <!-- START TABS -->
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1"  data-toggle="tab">Thông tin Chi tiết Sản phẩm</a></li>
                <li><a href="#tab2"  data-toggle="tab">Bình luận</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="content_text">
                        <!-- START TOOGLE Thông tin chung -->
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="title">Mạng 2G</td>
                                    <td>@Model.ctSanpham.Mang2G</td>
                                </tr>
                                <tr>
                                    <td class="title">Mạng 3G</td>
                                    <td>@Model.ctSanpham.Mang3G</td>
                                </tr>
                                <tr>
                                    <td class="title">Ra mắt</td>
                                    <td>@{DateTime ngayramat = @Model.ctSanpham.NgayRaMat ?? DateTime.Now;
                                          string ngay = "Tháng " + ngayramat.Month + " năm " + ngayramat.Year;}@ngay</td>
                                </tr>
                                <tr>
                                    <td class="title">Ngày có hàng</td>
                                    <td>@{DateTime ngaycohang = @Model.ctSanpham.NgayCoHang ?? DateTime.Now;
                                          ngay = ngaycohang.Day + "/" + ngaycohang.Month + "/" + ngaycohang.Year;}@ngay</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Kích thước</th>
                                </tr>
                                <tr>
                                    <td class="title">Kích thước</td>
                                    <td>@Model.ctSanpham.KichThuocDT</td>
                                </tr>
                                <tr>
                                    <td class="title">Trọng lượng</td>
                                    <td>@Model.ctSanpham.TrongLuong g</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Hiển thị</th>
                                </tr>
                                <tr>
                                    <td class="title">Loại</td>
                                    <td>@Model.ctSanpham.LoaiManHinh</td>
                                </tr>
                                <tr>
                                    <td class="title">Kích thước</td>
                                    <td>@Model.ctSanpham.KichThuocManHinh</td>
                                </tr>
                                <tr>
                                    <td class="title">&nbsp;</td>
                                    <td>@Model.ctSanpham.MoTaKichThuocManHinh</td>
                                </tr>

                                <tr>
                                    <th colspan="2">Âm thanh</th>
                                </tr>
                                <tr>
                                    <td class="title">Kiểu chuông</td>
                                    <td>@Model.ctSanpham.KieuChuong</td>
                                </tr>
                                <tr>
                                    <td class="title">Ngõ ra audio 3.5mm</td>
                                    <td>@if (@Model.ctSanpham.NgoAudio)
                                        {@("Có")}
                                        else
                                        {@("Không")}
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="2">Bộ nhớ</th>
                                </tr>
                                <tr>
                                    <td class="title">Danh bạ</td>
                                    <td>@Model.ctSanpham.DanhBa</td>
                                </tr>
                                <tr>
                                    <td class="title">Các số đã gọi</td>
                                    <td>@Model.ctSanpham.CacSoDaGoi</td>
                                </tr>
                                <tr>
                                    <td class="title">Bộ nhớ trong</td>
                                    <td>@Model.ctSanpham.BoNhoTrong</td>
                                </tr>
                                <tr>
                                    <td class="title">Khe cắm thẻ nhớ</td>
                                    <td>@if (@Model.ctSanpham.KheCamTheNho == true)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Truyền dữ liệu</th>
                                </tr>
                                <tr>
                                    <td class="title">GPRS</td>
                                    <td>@if (@Model.ctSanpham.GPRS)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>
                                <tr>
                                    <td class="title">EDGE</td>
                                    <td>@if (@Model.ctSanpham.EDGE)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>

                                <tr>
                                    <td class="title">Tốc độ 3G</td>
                                    <td>@Model.ctSanpham.TocDo3G</td>
                                </tr>
                                <tr>
                                    <td class="title">NFC</td>
                                    <td>@if (@Model.ctSanpham.NFC)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>
                                <tr>
                                    <td class="title">WLAN</td>
                                    <td>@Model.ctSanpham.WLAN</td>
                                </tr>
                                <tr>
                                    <td class="title">Bluetooth</td>
                                    <td>@Model.ctSanpham.Bluetooth</td>
                                </tr>
                                <tr>
                                    <td class="title">Hồng ngoại</td>
                                    <td>@if (@Model.ctSanpham.HongNgoai)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>
                                <tr>
                                    <td class="title">USB</td>
                                    <td>@Model.ctSanpham.USB</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Chụp ảnh</th>
                                </tr>
                                <tr>
                                    <td class="title">Camera chính</td>
                                    <td>@Model.ctSanpham.CameraChinh</td>
                                </tr>
                                <tr>
                                    <td class="title">Đặc điểm</td>
                                    <td>@Model.ctSanpham.DacDiem</td>
                                </tr>
                                <tr>
                                    <td class="title">Quay phim</td>
                                    <td>@Model.ctSanpham.QuayPhim</td>
                                </tr>


                                <tr>
                                    <td class="title">Camera phụ</td>
                                    <td>@Model.ctSanpham.CameraPhu</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Đặc điểm</th>
                                </tr>
                                <tr>
                                    <td class="title">Hệ điều hành</td>
                                    <td>@Model.ctSanpham.HDH</td>
                                </tr>
                                <tr>
                                    <td class="title">Bộ xử lý</td>
                                    <td>@Model.ctSanpham.BoXuLy</td>
                                </tr>
                                <tr>
                                    <td class="title">Chipset</td>
                                    <td>@Model.ctSanpham.Chipset</td>
                                </tr>
                                <tr>
                                    <td class="title">Tin nhắn</td>
                                    <td>@Model.ctSanpham.TinNhan</td>
                                </tr>
                                <tr>
                                    <td class="title">Trình duyệt</td>
                                    <td>@Model.ctSanpham.TrinhDuyet</td>
                                </tr>
                                <tr>
                                    <td class="title">Radio</td>
                                    <td>@if (@Model.ctSanpham.Radio)
                                        {@("Có")}
                                        else
                                        {@("Không")}</td>
                                </tr>

                                <tr>
                                    <td class="title">Trò chơi</td>
                                    <td>@Model.ctSanpham.TroChoi</td>
                                </tr>

                                <tr>
                                    <td class="title">Màu sắc</td>
                                    <td>@foreach (var icolor in @Model.Sanpham.MauSacSanPhams)
                                        {
                                        @icolor.MauSac.TenMauSac<br />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Ngôn ngữ</td>
                                    <td>@Model.ctSanpham.NgonNgu</td>
                                </tr>
                                <tr>
                                    <td class="title">Định vị toàn cầu</td>
                                    <td>@Model.ctSanpham.GPS</td>
                                </tr>
                                <tr>
                                    <td class="title">Java</td>
                                    <td>@Model.ctSanpham.Java</td>
                                </tr>


                                <tr>
                                    <td class="title">&nbsp;</td>
                                    <td>@Model.ctSanpham.MoTaJava</td>
                                </tr>
                                <tr>
                                    <th colspan="2">Pin</th>
                                </tr>
                                <tr>
                                    <td class="title">Pin chuẩn</td>
                                    <td>@Model.ctSanpham.PinChuan</td>
                                </tr>
                                <tr>
                                    <td class="title">Chờ</td>
                                    <td>@Model.ctSanpham.ThoiGianCho</td>
                                </tr>
                                <tr>
                                    <td class="title">Đàm thoại</td>
                                    <td>@Model.ctSanpham.ThoiGianDamThoai</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- END TOOGLE Thông tin chung -->
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="content_text" id="divcomment">
                        <!-- START COMMENT CHUNG -->
                        @Html.Action("ChangePageComments", "Comment", new { MaSP = Model.Sanpham.MaSP, page = 1})
                        <!-- END COMMENT CHUNG-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END TABS -->
    </div>
    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->
</section>
<!-- END CONTENT -->

