﻿@model MobileWeb.ViewModels.ViewModelProduct
@{
    ViewBag.Title = "Danh mục điện thoại - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Danh mục sản phẩm</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        <div class="col_2_3">
            <!-- START SEARCH -->
            <div class="toogle_box" style="margin-top: 18px; margin-right: 10px;">
                <div class="toggle closed_toggle">
                    <div class="icon"></div>
                    Tìm kiếm nâng cao
                </div>
                <div class="toggle_container">
                    @{Html.RenderPartial("_Search", Model.Search);}
                </div>
            </div>
            <!-- END SEARCH -->
        </div>
        <div class="clear"></div>
        <div id="partial_mobile">
            @Html.Action("ChangePage", new { category = @ViewData["category"], carrier = @ViewData["carrier"] })
        </div>
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
