﻿@model MobileWebBLL.Models.LoaiSanPham
@{
    ViewBag.Title = "Thêm loại sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin loại sản phẩm", "Index", "adminLoaiSanPham", null, new { id = "returnListLoaiSP" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Sửa thông tin loại sản phẩm</span>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin loại sản phẩm</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("CreateLoaiSPSubmit", "adminLoaiSanPham", FormMethod.Post, new { id = "CreateLSP" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.MaLoaiSP, new {@class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên loại sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenLoaiSP, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Thêm loại sản phẩm</button>
                            <div class="btn btn-danger">
                                <i class="icon-trash icon-white"></i>
                                @Html.ActionLink("Hủy bỏ", "Index", "adminLoaiSanPham")
                            </div>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
