﻿@model List<MobileWebBLL.Models.LoaiSanPham>
@{
    ViewBag.Title = "Danh sách loại sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin loại sản phẩm", "Index", "adminLoaiSanPham", null, new { id = "returnListLoaiSP" })
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Loại sản phẩm</h2>
            <div class="box-icon">
                <div class="btn btn-success">
                    @Html.ActionLink("Create", "CreateLoaiSP", "adminLoaiSanPham", null, new { id = "btnCreateLoaiSP" })
                </div>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên loại sản phẩm</th>
                        <th>Ngày bắt đầu kinh doanh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.TenLoaiSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NgayTao)</td>
                            <td class="center">
                                <div class="btn btn-info">
                                    <i class="icon-edit icon-white"></i>
                                    @Html.ActionLink("Edit", "ShowEditLoaiSP", "adminLoaiSanPham", new { MaLoaiSP = item.MaLoaiSP }, new { id = "ShowEditLSP" })
                                </div>
                                <div class="btn btn-danger">
                                    <i class="icon-trash icon-white"></i>
                                    @Html.ActionLink("Delete", "DeleteLoaiSP", "adminLoaiSanPham", new { MaLoaiSP = item.MaLoaiSP }, new { id = "btnDeleteLSP" })
                                </div>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
