﻿@model List<MobileWeb.ViewModels.ViewModelBestSellingProduct>
@{
    ViewBag.Title = "Danh sách sản phẩm bán chạy nhất";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            <span>Sản phẩm bán chạy nhất</span>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Sản phẩm</h2>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th>Nhà sản xuất</th>
                        <th>Số lượng bán</th>
                        <th>Đơn giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.TenSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.LoaiSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NhaSX)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.SoLuongBan)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.DonGia)</td>
                            <td class="center">
                                <a class="btn btn-success" data-rel ="tooltip" title="Xem chi tiết" href="@Url.Action("adminShowDetailProduct","adminProduct", new { @MaSP = item.MaSP})">
                                    <i class="icon-zoom-in icon-white"></i>
                                </a>
                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật sản phẩm" href="@Url.Action("ShowEidtPruduct","adminProduct", new { @MaSP = item.MaSP })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" data-rel ="tooltip" title="Xóa" href="@Url.Action("DeleteProduct","adminProduct", new { @MaSP = item.MaSP})">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

