﻿@model MobileWeb.Models.RegisterModel
@{
    ViewBag.Title = "Quên Mật khẩu - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Quên mật khẩu</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        @if(ViewData["message"] != null)
        {
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @ViewData["message"]
        </div>
        }
        @using (Html.BeginForm())
        {
            <div>Vui lòng nhập địa chỉ Email hay Tên đăng nhập mà bạn đã đăng kí: </div>
            <div>@Html.TextBox("userName")</div>
            <input type="submit" value="Đổi mật khẩu" />
        }
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
