﻿@model MobileWeb.ViewModels.ViewModelComment
<!-- START COMMENT CHUNG -->
<!-- START COMMENTS -->
<div id="com">
    <div class="comments_nr">
        <h3>@ViewData["comments"].ToString() bình luận</h3>
    </div>

    <div class="add_comments">
        <a href="#leave_comment">Bình luận sản phẩm</a>
    </div>
    <div class="clear"></div>

    <div class="line"></div>

    <div class="clear"></div>
    @foreach (var item in Model.BinhLuans)
    {
        <!-- START COMMENT BOX-->
        <div class="comment_box">
            <div class="avatar">
                <!-- START AVATAR -->
                <div class="image">
                    <img src="~/images/home/avatar_2.png" alt="" />

                </div>
                <!-- END AVATAR -->
            </div>
            <div class="comments-info">
                <a href="#" class="writer">@item.TenKH</a> <span class="when">|</span>  <span class="when">@{                
        DateTime time = item.ThoiGianBinhLuan ?? DateTime.Now;
        int hour = time.Hour > 12 ? time.Hour - 12 : time.Hour;
        string strhour = "";
        if (hour < 10)
        {
            strhour = "0" + hour;
        }
        else { strhour = hour.ToString(); };
        string pm = time.Hour >= 12 ? "pm" : "am";
        var str = time.Day + " Tháng " + time.Month + ", " + time.Year + " lúc " + strhour + ":" + time.Minute + " " + pm;}@str</span>
            </div>
            <div class="text">
                <p>
                    @item.NoiDung
                </p>
            </div>
            <div class="clear"></div>

        </div>

        <!-- END COMMENT BOX-->
    }
    @{
        int prev = 1, next = 1;
        if (int.Parse(ViewData["pagecomment"].ToString()) == 1)
        {
            prev = 0;
        }
        else
        {
            prev = int.Parse(ViewData["pagecomment"].ToString()) - 1;
        }
        if (int.Parse(ViewData["pagecomment"].ToString()) < int.Parse(ViewData["pagescomment"].ToString()))
        {
            next = int.Parse(ViewData["pagecomment"].ToString()) + 1;
        }
        else
        {
            next = 0;
        }
    }
    <ul class="pager">
        @if (prev != 0)
        {
            <li>@Ajax.ActionLink("Trước", "ChangePageComments", "Comment",
            new
            {
                MaSP = Model.BinhLuan.MaSP,
                page = prev
            },
            new AjaxOptions
            {
                UpdateTargetId = "divcomment",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
        }
        @if (next != 0)
        {
            <li>@Ajax.ActionLink("Sau", "ChangePageComments", "Comment",
            new
            {
                MaSP = Model.BinhLuan.MaSP,
                page = next
            },
            new AjaxOptions
            {
                UpdateTargetId = "divcomment",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
        }
    </ul>
</div>
<div class="clear padding40"></div>

<!-- END COMMENTS -->
<!-- START MESSAGE-->
@if (ViewData["message"] != null)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Cám ơn bình luận của bạn!!
    </div>
}
<!-- END MESSAGE-->
<!-- START LEAVE A COMMENT -->
<h3 class="bottom_line2" id="leave_comment">Bình luận</h3>
<div class="clear"></div>
@using (Ajax.BeginForm("Comment", "Comment", null, new AjaxOptions { UpdateTargetId = "divcomment", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }, new { @class = "comments_form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    if (!Request.IsAuthenticated)
    {
    <div class="comment_wrap">
        <label for="name">Họ và tên <span>*</span></label>
        @Html.HiddenFor(model => model.BinhLuan.MaSP, null)
        @Html.TextBoxFor(model => model.BinhLuan.TenKH, null, null)
    </div>

    <div class="comment_wrap">
        <label for="email">Email <span>*</span></label>
        @Html.TextBoxFor(model => model.BinhLuan.Email, null, null)
    </div>
    }
    else
    {
        Model.BinhLuan.TenKH = User.Identity.Name;
    <div class="comment_wrap">
        @Html.HiddenFor(model => model.BinhLuan.MaSP, null)
        @Html.HiddenFor(model => model.BinhLuan.TenKH, null)
        <label for="name">Họ và tên: </label>
        <a class="writer">@User.Identity.Name</a>
    </div>
    }
    <div class="textarea_wrap">
        @Html.Hidden("page", int.Parse(ViewData["pagecomment"].ToString()))
        <label for="message">Bình luận của bạn <span>*</span></label>
        @Html.TextAreaFor(model => model.BinhLuan.NoiDung, 6, 70, null)
    </div>

    <div class="clear padding25"></div>
    <input type="submit" value="Gửi" />
    <div class="clear"></div>
}
<div class="clear"></div>
<!-- END LEAVE A COMMENT -->
<!-- END COMMENT CHUNG-->
