﻿@model MobileWeb.Models.LocalPasswordModel

@using (Html.BeginForm("ChangePassword", "ManageAccount", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="control-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.OldPassword)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.NewPassword)
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.ConfirmPassword)
        </div>
    </div>    
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Đổi mật khẩu" />
        </div>
    </div>
}
