﻿@model List<MobileWebBLL.Models.HoaDon>
@if (Model.Count > 0)
{
    var i = 0;
    <p>Có tổng cộng <b>@ViewData["trans"]</b> hóa đơn giao dịch</p>
    <table class="table table-striped" style="text-align: center;">
        <thead>
            <tr>
                <th>STT</th>
                <th>Thời gian đặt hàng</th>
                <th>Tổng tiền</th>
                <th>Tình trạng</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hd in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@{                
                DateTime time = hd.ThoiGianDatHang ?? DateTime.Now;
                int hour = time.Hour > 12 ? time.Hour - 12 : time.Hour;
                string strhour = "";
                if (hour < 10)
                {
                    strhour = "0" + hour;
                }
                else { strhour = hour.ToString(); };
                string pm = time.Hour >= 12 ? "pm" : "am";
                var str = time.Day + "/" + time.Month + "/" + time.Year + " " + strhour + ":" + time.Minute + " " + pm;}@str</td>
                    <td>@{ int temp = hd.TongTien ?? 0; temp = temp * 1000; @temp.ToString("0,00");}VNĐ</td>
                    <td>@{
                                                                                                  var ht = "";
                                                                                                  if (hd.TinhTrang == 1) { ht = "chưa thanh toán"; }
                                                                                                  else if (hd.TinhTrang == 2) { ht = "đã thanh toán - chưa xác nhận - chưa giao hàng"; }
                                                                                                  else if (hd.TinhTrang == 3) { ht = "đã xác nhận thanh toán - chưa giao hàng"; }
                                                                                                  else if (hd.TinhTrang == 4) { ht = "đã xác nhận thanh toán - đang giao hàng"; }
                                                                                                  else if (hd.TinhTrang == 5) { ht = "đã xác nhận thanh toán - đã giao hàng"; }
                                                                                                  else { ht = "đã hủy"; }
                    }
                        @ht @if (hd.TinhTrang == 1)
                            {@Html.ActionLink("Paypal", "PayPalUser", "Payment", new { MaHD = hd.MaHD, MaKH = hd.MaKH, TongTien = hd.TongTien }, new { @class = "button green", title = "Thanh toán Paypal" })}</td>
                    <td>@Html.ActionLink("Chi tiết", "DetailTransaction",new { MaHD = hd.MaHD, page = ViewData["pagetrans"]}, new { @class = "orange button", title="Chi tiết giao dịch"})</td>
                </tr>
            }
        </tbody>
    </table>
            int prev = 1, next = 1;
            if (int.Parse(ViewData["pagetrans"].ToString()) == 1)
            {
                prev = 0;
            }
            else
            {
                prev = int.Parse(ViewData["pagetrans"].ToString()) - 1;
            }
            if (int.Parse(ViewData["pagetrans"].ToString()) < int.Parse(ViewData["pagestrans"].ToString()))
            {
                next = int.Parse(ViewData["pagetrans"].ToString()) + 1;
            }
            else
            {
                next = 0;
            }
    <ul class="pager">
        @if (prev != 0)
        {
            <li>@Ajax.ActionLink("Trước", "ChangePageTransaction",
            new
            {
                page = prev
            },
            new AjaxOptions
            {
                UpdateTargetId = "divtransaction",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
        }
        @if (next != 0)
        {
            <li>@Ajax.ActionLink("Sau", "ChangePageTransaction",
            new
            {
                page = next
            },
            new AjaxOptions
            {
                UpdateTargetId = "divtransaction",
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace
            })</li>
        }
    </ul>
}
else
{
    <p>Chưa có giao dịch nào!!</p>
}