﻿@model MobileWeb.Models.LocalPasswordModel
@{
    ViewBag.Title = "Đổi mật khẩu - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Đổi mật khẩu</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->
    <div class="col_1_4">
        <ul class="nav nav-tabs nav-stacked">
            <li>@Html.ActionLink("Thông tin cá nhân", "ProfileUser", "ManageAccount")</li>
            <li class="active">@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "ManageAccount")</li>
            <li>@Html.ActionLink("Hóa đơn giao dịch", "Transaction", "ManageAccount")</li>
        </ul>
    </div>
    <!-- START COL 2/3 LAST -->
    <div class="col_3_4 last">
        <p class="message-success">@ViewBag.StatusMessage</p>

        <p style="font-size:15px">Tên đăng nhập hiện tại của bạn là <strong>@User.Identity.Name</strong>.</p>

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        { 
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <!-- END COL 2/3 LAST -->
    <div class="clear padding20"></div>
</section>
<!-- END CONTENT -->
