﻿@model MobileWebBLL.Models.HoaDon
@{
    ViewBag.Title = "Chi tiết Hóa đơn giao dịch";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Hóa đơn giao dịch</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->
    <div class="col_1_4">
        <ul class="nav nav-tabs nav-stacked">
            <li>@Html.ActionLink("Thông tin cá nhân", "ProfileUser", "ManageAccount")</li>
            <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "ManageAccount")</li>
            <li class="active">@Html.ActionLink("Hóa đơn giao dịch", "Transaction", "ManageAccount")</li>
        </ul>
    </div>
    <!-- START COL 2/3 LAST -->
    <div class="col_3_4 last" id="divtransaction">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Transaction", new { page = ViewBag.Page})">Hóa đơn giao dịch</a> <span class="divider">/</span></li>
            <li class="active">Chi tiết hóa đơn</li>
        </ul>
        <dl class="dl-horizontal">
            <dt>Tên khách hàng đặt</dt>
            <dd>@Model.TenKHDat</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Địa chỉ giao hàng</dt>
            <dd>@Model.DiaChiGiaoHang</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Điện thoại liên lạc</dt>
            <dd>@Model.DienThoai</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Thời gian đặt hàng</dt>
            <dd>@{                
                DateTime time = Model.ThoiGianDatHang ?? DateTime.Now;
                int hour = time.Hour > 12 ? time.Hour - 12 : time.Hour;
                string strhour = "";
                if (hour < 10)
                {
                    strhour = "0" + hour;
                }
                else { strhour = hour.ToString(); };
                string pm = time.Hour >= 12 ? "pm" : "am";
                var str = time.Day + " Tháng " + time.Month + ", " + time.Year + " lúc " + strhour + ":" + time.Minute + " " + pm;}@str</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Hình thức giao hàng</dt>
            <dd>@{
                var ht = "";
                if (Model.HinhThucGiaoHang == 1) { ht = "Giao hàng tận nơi"; }
                else { ht = "Giao hàng tại cửa hàng."; }
            }
                @ht</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Hình thức thanh toán</dt>
            <dd>@{
                ht = "";
                if (Model.HinhThucThanhToan == 1) { ht = "Thanh toán qua Paypal"; }
                else { ht = "Thanh toán khi giao hàng."; }
            }
                @ht</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Tình trạng</dt>
            <dd>@{
                ht = "";
                if (Model.TinhTrang == 1) { ht = "chưa thanh toán"; }
                else if (Model.TinhTrang == 2) { ht = "đã thanh toán - chưa xác nhận - chưa giao hàng"; }
                else if (Model.TinhTrang == 3) { ht = "đã xác nhận thanh toán - chưa giao hàng"; }
                else if (Model.TinhTrang == 4) { ht = "đã xác nhận thanh toán - đang giao hàng"; }
                else if (Model.TinhTrang == 5) { ht = "đã xác nhận thanh toán - đã giao hàng"; }
                else { ht = "đã hủy"; }
            }@ht </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt></dt>
            <dd>@if (Model.TinhTrang == 1)
                    {@Html.ActionLink("Thanh toán Paypal", "PayPalUser", "Payment", new { MaModel = Model.MaHD, MaKH = Model.MaKH, TongTien = Model.TongTien }, new { @class = "button green" })}</dd>
        </dl>
        @if (Model.ChiTietHoaDons.Count > 0)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @{
            var i = 0;
                    }
                    @foreach (var sp in Model.ChiTietHoaDons)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td><a href="detail.html">@sp.SanPham.TenSP x @sp.SoLuong cái</a></td>
                            <td>@{ var temp = sp.ThanhTien * 1000; @temp.ToString("0,000");} VNĐ</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <!-- END COL 2/3 LAST -->
    <div class="clear padding20"></div>


</section>
<!-- END CONTENT -->
