﻿@model MobileWeb.Models.ProfileUserParts
@{
    ViewBag.Title = "Thông tin cá nhân";
}
<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Thông tin cá nhân</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->
    <div class="col_1_4">
        <ul class="nav nav-tabs nav-stacked">
            <li class="active">@Html.ActionLink("Thông tin cá nhân", "ProfileUser", "ManageAccount")</li>
            <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "ManageAccount")</li>
            <li>@Html.ActionLink("Hóa đơn giao dịch", "Transaction", "ManageAccount")</li>
        </ul>
    </div>
    <!-- START COL 2/3 LAST -->
    <div class="col_3_4 last">
        @if (ViewData["message"] != null)
        {
            <div class="content clearfix">
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    @ViewData["message"]
                </div>
            </div>
        }
        <p style="font-size:15px">Tên đăng nhập hiện tại của bạn là <strong>@User.Identity.Name</strong>.</p>
        @using (Html.BeginForm("ProfileUser", "ManageAccount", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="control-group">
                @Html.LabelFor(m => m.TenKH, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.TenKH)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DiaChi, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DiaChi)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DienThoai, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DienThoai)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Lưu thay đổi" />
                </div>
            </div>
        }
    </div>
    <!-- END COL 2/3 LAST -->
    <div class="clear padding20"></div>


</section>
<!-- END CONTENT -->
