﻿@{
    ViewBag.Title = "Hóa đơn giao dịch";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Hóa đơn giao dịch</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->
    <div class="col_1_4">
        <ul class="nav nav-tabs nav-stacked">
            <li>@Html.ActionLink("Thông tin cá nhân", "ProfileUser", "ManageAccount")</li>
            <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "ManageAccount")</li>
            <li class="active">@Html.ActionLink("Hóa đơn giao dịch", "Transaction", "ManageAccount")</li>
        </ul>
    </div>
    <!-- START COL 2/3 LAST -->
    <div class="col_3_4 last" id="divtransaction">
        <ul class="breadcrumb">
            <li class="active">Hóa đơn giao dịch</li>
        </ul>
        @Html.Action("ChangePageTransaction", new { page = ViewBag.Page })
    </div>
    <!-- END COL 2/3 LAST -->
    <div class="clear padding20"></div>


</section>
<!-- END CONTENT -->
