﻿@model MobileWebBLL.Models.NhaSanXuat
@{
    ViewBag.Title = "Thêm Nhà sản xuất";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin Nhà sản xuất", "Index", "adminNhaSanXuat", null, new { id = "returnListNSX" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Tạo thêm Nhà sản xuất</span>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin Nhà sản xuất</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("CreateNhaSanXuatSubmit", "adminNhaSanXuat", FormMethod.Post, new { id = "CreateNSX" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.MaNSX, new {@class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên Nhà sản xuất")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenNSX, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Loại Sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.LoaiSP, new SelectList(@ViewBag.listlsp, "MaLoaiSP", "TenLoaiSP"), new { name = "edrdLoaiSP", @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Địa chỉ")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.DiaChi, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Điện thoại")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.DienThoai, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Thêm Nhà sản xuất</button>
                            <div class="btn btn-danger">
                                <i class="icon-trash icon-white"></i>
                                @Html.ActionLink("Hủy bỏ", "Index", "adminNhaSanXuat")
                            </div>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
