﻿@model List<MobileWebBLL.Models.NhaSanXuat>
@{
    ViewBag.Title = "Danh sách Nhà sản xuất";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin Nhà sản xuất", "Index", "adminNhaSanXuat", null, new { id = "returnListNSX" })
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Nhà sản xuất</h2>
            <div class="box-icon">
                <div class="btn btn-success">
                    @Html.ActionLink("Thêm", "CreateNSX", "adminNhaSanXuat", null, new { id = "btnCreateNSX" })
                </div>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên Nhà sản xuất</th>
                        <th>Loại Sản phẩm</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.TenNSX)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.LoaiSanPham.TenLoaiSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.DiaChi)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.DienThoai)</td>
                            <td class="center">
                                <a class="btn btn-info" href="@Url.Action("ShowEditNSX", new { @MaNSX = item.MaNSX })">
                                    <i class="icon-edit icon-white"></i></a>
                                <a class="btn btn-danger" href="@Url.Action("DeleteNSX", new { @MaNSX = item.MaNSX })">
                                    <i class="icon-trash icon-white"></i></a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
