﻿@model MobileWeb.Models.LoginModel
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="~/Content/home/login-form.css" media="screen" />
    <meta name="robots" content="noindex,follow" />
</head>

<body>
    <div class="login-form">
        <a href="@ViewBag.ReturnUrl" class="close" data-dismiss="alert">&times;</a>
        <h1>Đăng nhập</h1>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <ul>
                <li>
                    @Html.TextBoxFor(m => m.UserName, null, new { placeholder = "Tên đăng nhập" })
                </li>
                <li>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu" })</li>
                <li>
                    <span>
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </span>
                </li>
                <li>
                    <input type="submit" value="Đăng nhập" />
                </li>
            </ul>
            <div class="clear"></div>
            <p>Bạn đã @Html.ActionLink("Quên mật khẩu", "RequestResetPasswordLink", "ResetPassword").<br />
            @Html.ActionLink("Đăng kí", "Register") nếu bạn không có tài khoản.</p>
        }
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/home/login-form.js")" type="text/javascript"></script>
</body>
</html>

