﻿@model MobileWeb.Models.RegisterModel
@{
    ViewBag.Title = "Đăng kí - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Đăng kí</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="control-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.TenKH, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.TenKH)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DiaChi, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DiaChi)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.DienThoai, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.DienThoai)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <img src="@Url.Action("ShowCaptchaImage")" />
                    <br />
                    <span>Vui lòng nhập đoạn mã xác nhận hiển thị ở trên</span>
                </div>
            </div>            
            <div class="control-group">
                @Html.LabelFor(m => m.Capcha, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Capcha)
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Đăng kí" />
                </div>
            </div>
        }
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
