﻿<div class="sortable row-fluid">
    <a data-rel="tooltip" title="Thành viên" class="well span3 top-block" href="#">
        <span class="icon32 icon-red icon-user"></span>
        <div>Thành viên</div>
        <div>507</div>
    </a>

    <a data-rel="tooltip" title="Quà tặng" class="well span3 top-block" href="#">
        <span class="icon32 icon-color  icon-star-on"></span>
        <div>Quà tặng</div>
        <div>228</div>
    </a>

    <a data-rel="tooltip" title="$34 new sales." class="well span3 top-block" href="#">
        <span class="icon32 icon-color icon-cart"></span>
        <div>Doanh thu</div>
        <div>$13320</div>
    </a>

    <a data-rel="tooltip" title="12 new messages." class="well span3 top-block" href="#">
        <span class="icon32 icon-color icon-envelope-closed"></span>
        <div>Bình luận</div>
        <div>25</div>
    </a>
</div>
