﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!--
                Charisma v1.0.0

                Copyright 2012 Muhammad Usman
                Licensed under the Apache License v2.0
                http://www.apache.org/licenses/LICENSE-2.0

                http://usman.it
                http://twitter.com/halalit_usman
        -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">
    @Styles.Render("~/Content/admin")
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/favicon.ico">
</head>

<body>
    <!-- topbar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="index.html">
                    <img alt="Charisma Logo" src="~/images/admin/logo20.png" />
                    <span>Charisma</span></a>

                <div class="btn-group pull-right">
                    Xin chào, @Html.ActionLink(User.Identity.Name + " ", "Index", "adminPersonalInfo", routeValues: new { username = User.Identity.Name }, htmlAttributes: new { @class = "username", title = "Manage" })
                    <span>||</span>
                    <a class="username" title =" Thay đổi mật khẩu" href="@Url.Action("ChangePass","adminPersonalInfo")">
                        Cập nhật mật khẩu
                    </a>
                    @using (Html.BeginForm("LogOff", "adminPersonalInfo", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="username">Đăng xuất</a>
                    }
                </div>
                <!-- user dropdown ends -->
            </div>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu starts -->
            @{Html.RenderPartial("_adminSidebar");}
            <!-- left menu ends -->

            <noscript>
                <div class="alert alert-block span10">
                    <h4 class="alert-heading">Warning!</h4>
                    <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
                </div>
            </noscript>

            <div id="content" class="span10">
                <!-- content starts -->
                @RenderBody()
                <!-- content ends -->
            </div>
            <!--/#content.span10-->
            <hr>
            <footer>
                <p class="pull-left">&copy; <a href="#" target="_blank">Tini Vippro</a> 2013</p>
                <p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
            </footer>

        </div>
        <!--/.fluid-container-->
    </div>
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
    <!-- external javascript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
