﻿<!-- left menu starts -->
<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">QL Nghiệp vụ</li>
            <li>@Html.ActionLink("Đơn đặt hàng", "Index", "adminHoaDon")</li>
            <li>@Html.ActionLink("Sản phẩm", "Index", "adminProduct")</li>
            <li>@Html.ActionLink("Loại Sản phẩm", "Index", "adminLoaiSanPham")</li>
            <li>@Html.ActionLink("Nhà sản xuất", "Index", "adminNhaSanXuat")</li>
            <li>@Html.ActionLink("Bình luận", "Index", "adminComment")</li>
            <li>@Html.ActionLink("Khuyến mãi", "Index", "adminPromotion")</li>
            <li class="nav-header hidden-tablet">QL Người dùng</li>
            <li>@Html.ActionLink("Khách hàng", "Index", "adminKhachHang")</li>
            <li>@Html.ActionLink("Nhân viên", "Index", "adminNhanVien")</li>
            <li class="nav-header hidden-tablet">QL Giao diện</li>
            <li>@Html.ActionLink("Slider", "Index", "adminSlider")</li>
            <li class="nav-header hidden-tablet">Reporting</li>
            <li>@Html.ActionLink("Sản phẩm top 10", "Index", "BestSellingProducts")</li>
            <li>@Html.ActionLink("Doanh thu", "Index", "adminStatistics")</li>
        </ul>
    </div>
    <!--/.well -->
</div>
<!--/span-->
<!-- left menu ends -->
