﻿@model List<MobileWebBLL.Models.LoaiSanPham>
<!-- footer -->
<footer class="footer_bg_bottom clearfix">
    <div class="footer_bottom container">
        <div class="col_2_3">

            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    @foreach(var item in Model)
                    {
                        <li>@Html.ActionLink(@item.TenLoaiSP, "Mobile", "Product", new { carrier = "All", category = @item.LinkName }, null)</li>
                    }
                    <li>@Html.ActionLink("Khuyến mãi", "Index","Promotion")</li>
                    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                </ul>
            </div>

            <div class="clear padding20"></div>
            <p>
                &copy; Some Rights Reserved. &nbsp; <a href="#">Legal Notices</a>
            </p>

        </div>

        <div class="clear padding20"></div>
    </div>
</footer>
<!-- /footer -->
<script src="@Url.Content("~/Scripts/home/jquery.min-1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.tooltip.js")" type="text/javascript"></script>
<script type="text/javascript">
    $j = jQuery.noConflict();
    $j(document).ready(function () {
        $j("a.item").tooltip();
    });
    function addShoppingCart(id, name) {
        if (confirm('Bạn có phải muốn đặt mua ' + name + '?')) {
            $("#shopping_cart").load("@Url.Action("AddShoppingCart", "ShoppingCart", null, null)?id=" + id);
            $("html, body").animate({ scrollTop: 0 }, "slow");
        } else {
            return;
        }        
    }
</script>
<script src="@Url.Content("~/Scripts/home/jquery-1.9.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/setup.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/all-in-one-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/main.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.easing.1.3.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/home/bootstrap.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('#demo-side-bar').removeAttr('style');
    });
</script>
