﻿@model MobileWeb.ViewModels.ViewModelSidebar
<!--Dynamically creates ads markup-->
<div class="div-search" style="padding-top: 10px;" id="div-signin">
    <div class="container clearfix">
        <div class="col_1_2">
            <form class="form-inline">
                <input type="text" class="input-small" placeholder="Email" />
                <input type="password" class="input-small" placeholder="Password" />
                <a href="" class="button green">Đăng nhập</a>
            </form>
        </div>
        <div class="col_1_2 last">
            <input id="noexpire" type="checkbox" checked="" value="1" name="noexpire" style="margin: 0;" />
            <label for="noexpire" style="display: inline-block;">
                Ghi nhớ tôi
            </label>
            |						
                <a class="forgot_password" rel="nofollow" href="/user_password">Quên mật khẩu?
                </a>
            <a href="javascript:void(0)">
                <img id="login_close" alt="login_bar_close.png" src="~/Images/home/login_bar_close.png" /></a>
        </div>
    </div>
</div>
<div class="div-search" style="padding-top: 10px;">
    <div class="container clearfix">
        <div class="col_1_3">
            @if (!Request.IsAuthenticated)
            {
                <div class="sign-in-up">
                    <div class="signin">@Html.ActionLink("Đăng nhập", "Login", "Account", new { returnUrl = Request.Url.AbsolutePath}, new { Id = "linksignin" , title = "Đăng nhập"})</div>
                    <div class="signup">@Html.ActionLink("Đăng kí", "Register", "Account", null, new { Id = "signup"  , title = "Đăng kí"})</div>
                </div>
            }
            else
            {
                <div>
                    <text id="Account_Name">Xin chào, @Html.ActionLink(User.Identity.Name, "ProfileUser", "ManageAccount", routeValues: null, htmlAttributes: new { @class = "username", title = "Quản lý tài khoản" })!</text>
                    <div id="Log_Off">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", title = "Đăng xuất" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="col_1_3">
            @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-search" }))
            {
                <div class="input-append">
                    <input class="span2" id="appendedInputButton" type="text" name="appendedInputButton" placeholder="Nhập từ khóa...">
                    <button class="btn" type="submit" onclick="$('.form-search').submit();">Tìm</button>
                </div>
                @Html.ActionLink("Tìm nâng cao", "Search", "Product")
                
            }
            
        </div>
        <div class="col_1_3 last">
            <div class="input-append">
                <a class="item" href="@Url.Action("Index", "ShoppingCart")" style="text-decoration: none;">
                    <div class="shopping-cart" style="position: relative; text-align: center;" id="shopping_cart">
                        @Html.Action("_ShoppingCart", "ShoppingCart")
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        <!-- Logo -->
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/images/home/logo.png")" alt="" /></a>
        </div>
        <!-- /Logo -->

        <!-- Master Nav -->
        <nav class="main-menu">
            <ul>
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                @foreach (var i in Model.Categories)
                {
                    <li>
                        @Html.ActionLink(@i.TenLoaiSP, "Mobile", "Product", new { carrier = "All", category = @i.LinkName }, null)
                        <ul>
                            @foreach (var item in Model.Carriers.Where(p => p.LoaiSP == i.MaLoaiSP))
                            {
                                <li>@Html.ActionLink(@item.TenNSX, "Mobile", "Product", new { carrier = @item.TenNSX, category = @i.LinkName }, null)</li>
                            }

                        </ul>
                    </li>
                }
                <li>@Html.ActionLink("Khuyến mãi", "Index", "Promotion")</li>
                <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
            </ul>
        </nav>
        <!-- /Master Nav -->
    </div>
</header>
<!-- /Header -->
<div class="clear"></div>
