﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="fragment" content="!">

    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="text/css" />
    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/home/bootstrap.css")" rel="stylesheet"  media="screen" />
    <link href="@Url.Content("~/Content/home/style.css")" rel="stylesheet" type="text/css" />
  

    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/html5.js"></script>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <link rel="stylesheet" href="css/ie_7.css" type="text/css" />
    <![endif]-->
    <script src="@Url.Content("~/Scripts/home/jquery.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .demobar {
            display: none;
        }

        #demo-side-bar {
            top: 53px!important;
            left: 90%!important;
            display: block!important;
        }
    </style>
    </head>
    @Html.Action("_Header", "Home")
<body>
    <!--wrapper-->
    <div id="wrapper">
    @RenderBody()

    @Html.Action("_Footer", "Home")
  	<div id="demo-side-bar">
   <?php include("http://www.egrappler.com/ad-sidebar.php");?>
   </div>
    </div>
    <!--wrapper end-->
	<!--Dynamically creates analytics markup-->
	 <?php include("http://www.egrappler.com/analytics.php");?>
	<!-- Start Scroll To Top Div -->
		<div id="scrolltab"></div>
	<!-- End Scroll To Top Div -->
</body>
</html>