﻿@model MobileWeb.ViewModels.ViewModelSidebar
<!-- START SIDEBAR SIDE -->
<div class="sidebar">
    @foreach (var i in Model.Categories)
    {
        <h4>@i.TenLoaiSP</h4>
        <ul class="sidebarmenu">
            @foreach (var item in Model.Carriers.Where(p => p.LoaiSP == i.MaLoaiSP))
            {
                <li>@Html.ActionLink(@item.TenNSX, "Mobile", "Product", new { carrier = @item.TenNSX, category = @i.LinkName }, null)</li>
            }
        </ul>
    }
    <h4>Giá</h4>
    <ul class="sidebarmenu">
        <li><a href="#">Dưới 1,5 triệu</a></li>
        <li><a href="#">1,5 triệu đến 4 triệu</a></li>
        <li><a href="#">Giá từ 4 triệu đến 6 triệu</a></li>
        <li><a href="#">Giá từ 6 triệu đến 9 triệu</a></li>
        <li><a href="#">Giá từ 9 triệu đến 12 triệu</a></li>
        <li><a href="#">Giá trên 12 triệu đồng</a></li>
    </ul>

</div>
<!-- END SIDEBAR SIDE -->
