﻿@model MobileWeb.ViewModels.ViewModelPromotion
@{
    ViewBag.Title = "Thêm khuyến mãi";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin khuyến mãi", "Index", "adminPromotion", null, new { id = "returnListNSX" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Thêm khuyến mãi</span>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin khuyến mãi</h2>
        </div>
		@if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("CreatePromotionSubmit", "adminPromotion", FormMethod.Post, new { id = "CreatePromotion" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.KhuyenMai.MaKhuyenMai, new {@class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.KhuyenMai.MaSP, new SelectList(Model.SanPham, "MaSP", "TenSP"), new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Quà tặng")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.KhuyenMai.QuaTang, new SelectList(Model.QuaTang, "MaQuaTang", "TenQuaTang"), new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Giảm giá")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.KhuyenMai.GiamGia, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày bắt đầu")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.KhuyenMai.NgayBD,htmlAttributes: new { id = "txtNgayBD", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Ngày kết thúc")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.KhuyenMai.NgayKT,htmlAttributes: new { id = "txtNgayKT", @class = "input-xlarge datepicker" })
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Thêm
                            </button>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
