﻿@model List<MobileWebBLL.Models.KhuyenMai>
@{
    ViewBag.Title = "Danh sách khuyến mãi";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin khuyến mãi", "Index", "adminPromotion", null, new { id = "returnListComment" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Khuyến mãi</h2>
            <div class="box-icon">
                <div class="btn btn-success">
                    @Html.ActionLink("Thêm", "CreatePromotion", "adminPromotion")
                </div>
            </div>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Quà tặng</th>
                        <th>Giảm giá</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.SanPham.TenSP)</td>
                            @if(item.QuaTang == null || item.QuaTang == 0)
                            {
                                <td class="center">Không</td>
                            }
                            else
                            {
                                <td class="center">@Html.DisplayFor(Itemproduct => item.QuaTang1.TenQuaTang)</td>
                            }

                            @if (item.GiamGia == null || item.GiamGia == 0)
                            {
                                <td class="center">0%</td>
                            }
                            else
                            {
                                <td class="center">@Html.DisplayFor(Itemproduct => item.GiamGia)%</td>
                            }
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NgayBD)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NgayKT)</td>
                            <td class="center">
                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật khuyến mãi" href="@Url.Action("ShowEditPromotion", new { @MaKhuyenMai = item.MaKhuyenMai })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" data-rel ="tooltip" title="Xóa khuyến mãi" onclick="return confirm('Bạn có chắc chắn muốn xóa khuyến mãi này');" href="@Url.Action("DeletePromotion", new { @MaKhuyenMai = item.MaKhuyenMai})">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
