﻿@model List<MobileWebBLL.Models.BinhLuan>
@{
    ViewBag.Title = "Danh sách bình luận";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin bình luận", "Index", "adminProduct", null, new { id = "returnListComment" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Bình luận</h2>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListProduct">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Tên khách hàng</th>
                        <th>Email</th>
                        <th>Nội dung</th>
                        <th>Thời gian bình luận</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.SanPham.TenSP)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.TenKH)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.Email)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.NoiDung)</td>
                            <td class="center">@Html.DisplayFor(Itemproduct => item.ThoiGianBinhLuan)</td>
                            <td class="center">
                                <a class="btn btn-info" data-rel ="tooltip" title="Xem chi tiết" href="@Url.Action("ShowEditComment", new { @MaBL = item.MaBinhLuan })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" data-rel ="tooltip" title="Xóa bình luận" onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận này');" href="@Url.Action("DeleteComment", new { @MaBL = item.MaBinhLuan })">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
