﻿@model MobileWeb.ViewModels.ViewModelAdminComment
@{
    ViewBag.Title = "Cập nhật thông tin sản phẩm";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<script type="text/javascript">
    function check_ContentComment() {
        document.getElementById("Message_username").style.color = "red";
        if (document.getElementById("txtComment").value == "") {
            document.getElementById("Message_username").innerHTML = "Nội dung không được để trống";
            return false;
        }

        else {
            document.getElementById("Message_username").innerHTML = "";
            return true;
        }
    }
</script>

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin bình luận", "Index", "adminComment", null, new { id = "returnListBinhLuan" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Sửa thông tin bình luận</span>
        </li>
    </ul>
</div>
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message
    </div>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin Bình luận</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("EditComment", "adminComment", FormMethod.Post, new { id = "EditComment" }))
                {
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.BinhLuan.MaBinhLuan, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên sản phẩm")
                            </div>
                            <div class="controls">
                                @Html.DropDownListFor(item => item.BinhLuan.MaSP, new SelectList(Model.sanpham, "MaSP", "TenSP"), new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên khách hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.BinhLuan.TenKH, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Email")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.BinhLuan.Email, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Nội dung")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.BinhLuan.NoiDung, htmlAttributes: new { onchange = "check_ContentComment()", @class = "input-xlarge focused", id = "txtComment" })
                                <span id="Message_username"></span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Cập nhật bình luận
                            </button>
                            <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn hủy cập nhật');" href="@Url.Action("Index")">
                                <i class="icon-trash icon-white"></i>
                                Hủy bỏ cập nhật
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->
