﻿<!-- START COL 1/3 -->	
		<div class="col_1_3">
	
			<ul class="contact-address">
            	<li class="address"><span>117 Nguyễn Bỉnh Khiêm, P. Đakao, Q.1, TP.HCM</span></li>
                <li class="phone"><span>+84 122 336 0352</span></li>
                <li class="email"><span><a href="mailto:tinivippro@gmail.com">tinivippro@gmail.com</a></span></li>
            </ul>
        
			<div class="clear"></div>
		
		</div>
<!-- END COL 1/3 -->	