﻿@{
    ViewBag.Title = "Giới thiệu - TiniVippro";
}

<!-- START CONTENT -->
    <section class="container clearfix">
		<!-- Page Title -->
			<header class="container page_info clearfix">
				
					<h1 class="regular brown bottom_line">Giới thiệu sơ lược về Tini Vippro Mobile</h1>
				
				<div class="clear"></div>
			</header>
			
		<!-- /Page Title -->
        <div class="padding15"></div>

	  @{Html.RenderPartial("_Sidebar1");}
		
		<!-- START COL 2/3 LAST -->	
		<div class="col_2_3 last">
			
			<p style="text-align: justify;"><span style="font-size: small;"><span style="color: #363636;">Công ty TNHH Công Nghệ di động Tini Vippro được thành lập từ tháng 04/2012, chuyên kinh doanh điện thoại di động, hàng công nghệ, linh kiện - phụ kiện điện thoại di động, sửa chữa điện thoại di động. 
			Tiền thân của Công ty TNHH Công Nghệ di động Tini Vippro là cửa hàng điện thoại di động Tini Vippro đăng ký hoạt động từ tháng 01/2012.<br /><br />
			Sau nhiều năm kinh doanh trong lĩnh vực điện thoại di động, chúng tôi có đuợc mối quan hệ tốt với các đối tác là các nhà phân phối và các hãng danh tiếng như Mobiado, Vertu, Nokia, Samsung, Motorola, Porsche Design, Sony Ericsson, Samsung, HTC, LG, Acer, JBL... 
			Vì vậy chúng tôi luôn mong muốn và nỗ lực mang đến cho Quý khách hàng những sản phẩm cao cấp và chất luợng nhất cùng với giá cả tốt nhất.<br /><br />
			Website chính thức của Công ty TNHH Công Nghệ di động Tini Vippro là www.</span></span><span style="font-size: small;"><span style="color: #363636;">tinivippro.vn</span></span><span style="font-size: small;"><span style="color: #363636;"> 
			(Trước đây là </span></span><span style="font-size: small;"><span style="color: #363636;">www.muabandtdd.com</span></span><span style="font-size: small;"><span style="color: #363636;">) ra mắt vào 18/04/2012. 
			Hoạt động đến hôm nay, </span></span><span style="font-size: small;"><span style="color: #363636;">tinivippro.vn</span></span><span style="font-size: small;"><span style="color: #363636;"> đã trở thành một trong những website chuyên kinh doanh và thông tin về điện thoại di động hàng đầu tại Việt Nam. 
			Chúng tôi đang tiếp tục lỗ lực và cải tiến website nhằm đáp ứng nhu cầu thông tin ngày càng cao của Quý khách hàng.<br /><br />
			Cuối năm 2008, ngay lúc kinh tế suy thoái và thị trường điện thoại di động cũng bị ảnh hưởng theo, đặc biệt là cơn bão điện thoại di động "no name" xuất phát từ Trung Quốc tràn ngập, công ty Tini Vippro đã mạnh dạn đầu tư hệ thống cửa hàng điện thoại di động cao cấp mang tên Tini Vippro Luxury Mobile, kinh doanh chuyên điện thoại di động cao cấp và là một trong những đơn vị tiên phong về điện thoại di động cao cấp tại Việt Nam.<br /><br />
			Đến hôm nay, hầu như mọi thương hiệu điện thoại di động cao cấp được phân phối chính thức đều có mặt tại hệ thống Tini Vippro Luxury Mobile như Vertu, Mobiado, Motorola Aura, Porsche Design, Bellperre...<br /><br />Website TiniVipproLuxury.com được Cty Mai Nguyên đầu tư và ra đời ngày 29/06/2012 để đáp ứng yêu cầu khắc khe cũng như tính chuyên nghiệp, sự trân trọng các đối tác và là nơi chuyển tải thông tin, hình ảnh, video... đẹp nhất chuyên về sản phẩm cao cấp. 
			Ngoài điện thoại di động cao cấp, phụ kiện điện thoại di động cao cấp, chúng tôi sẽ phát triển và kinh doanh thêm nhiều sản phẩm đặc biệt cao cấp khác tại website này trong thời gian tới như bút viết, hộp nhạc, đồng hồ...<br /><br />
			Với mong muốn các website mà Cty Tini Vippro đầu tư sẽ là những website hàng đầu trong lĩnh vực kinh doanh hàng công nghệ di động, cũng như mong muốn mang lại sự hài lòng cao nhất cho Quý khách, chúng tôi sẽ cố gắng nỗ lực để cập nhật và phát triền không ngừng.<br /><br />
			Chân thành cảm ơn Quý khách hàng đã ủng hộ Tini Vippro Luxury Mobile trong thời gian vừa qua và ước mong tiếp tục nhận được sự ủng hộ trong thời gian tới.<br /><br /></span></span><span style="font-size: small;"><span style="color: #474747;"><strong>
			Trân   trọng cảm ơn và hân hạnh được phục vụ Quý khách.</strong><br />
			--------------------------------------------------------------------------------------------<br /></span></span>
			<span style="font-size: small;"><span style="color: #474747;">
			<strong>Công ty   TNHH Công Nghệ Di Động Tini Vippro<br /></strong>117 Nguyễn Bỉnh Khiêm, P.   Đakao, Q.1, TP.HCM<br /></span></span>
			</p>	
			
		</div>
		<!-- END COL 2/3 LAST -->	
        
      
		
		<div class="clear padding20"></div>
	</section>
    <!-- END CONTENT -->