﻿@model MobileWeb.Models.ContactParts
@{
    ViewBag.Title = "Liên hệ - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">

        <h1 class="regular brown bottom_line">Liên hệ Tini Vippro</h1>

        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <div class="padding15"></div>

    @{Html.RenderPartial("_Sidebar1");}

    <!-- START COL 2/3 LAST -->
    <div class="col_2_3 last">

        <p>
            Chúng tôi chân thành cảm ơn những ý kiến đóng góp, phản hồi từ phía khách hàng về thái độ, phong cách phục vụ của nhân viên chưa làm Quý khách hài lòng. 
				<br />
            Chúng tôi sẽ ghi nhận và điều chỉnh khi nhận được phản ảnh của Quý khách để hoàn thiện hơn. Cảm ơn Quý khách đã chia sẻ.
                
                
        </p>

        <div class="padding20"></div>

        <p class="required_info"><span>*</span> Bắt buộc</p>

        <!-- SUCCESS MESSAGE -->
        <div class="content clearfix">
        @if (ViewData["message"] != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @ViewData["message"]
            </div>
        }
    </div>
        <!-- END SUCCESS MESSAGE -->

        <!-- ERROR MESSAGE -->
        <div class="error_box none">
            Vui lòng điền đầy đủ các thông tin bắt buộc.
        </div>
        <!-- END ERROR MESSAGE -->

        <!-- START CONTACT FORM -->
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "contact_form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <p>
                <label for="Name">Họ và tên <span>*</span></label>
                @Html.TextBoxFor(m => m.Name, new { @class="inputText"})
            </p>
            <div class="clear"></div>
            <p>
                <label for="Name">Email <span>*</span></label>
                @Html.TextBoxFor(m => m.Email, new { @class="inputText"})
            </p>
            <div class="clear"></div>
            <p>
                <label for="Name">Nội dung <span>*</span></label>
                @Html.TextAreaFor(m => m.Content, new { rows="6", cols="88",  @class="inputTextarea"})
            </p>
            <div class="clear"></div>
            <p class="submit">
                <a href="javascript:void(0);" class="button white" onclick="$('.contact_form').submit();">Gửi</a>
            </p>
        }
        <!-- END CONTACT FORM -->

    </div>
    <!-- END COL 2/3 LAST -->

    <div class="clear padding20"></div>


</section>
<!-- END CONTENT -->
