﻿@model MobileWeb.ViewModels.ViewModelIndex
@{
    ViewBag.Title = "Trang chủ";
    var i = 0;
}
<!-- Slider -->
<div class="bannerbg">
    <div class="container clearfix">
        <div class="flexslider">
            <ul class="slides">
                @foreach (var sli in Model.Sliders)
                {
                    <li>
                        <img src="~/@Url.Content(sli.Link)" alt="" />
                        <p class="flex-caption">&nbsp;</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- /Slider -->

<div class="clear padding40"></div>

<!-- Content -->
<section class="container clearfix">

    <div class="recent_works_left">
        <h2 class="red">Sản phẩm đang khuyến mãi</h2>
    </div>
    <div class="recent_works_arrows">
        <a href="#" class="prev_item"></a>
        <a href="#" class="next_item"></a>
    </div>

    <div class="clear"></div>
    <div class="line"></div>
    <div class="clear padding20"></div>

    <div class="recent_works">
        <ul id="work">
            @{i = 0;}
            @foreach (var km in Model.SanphamKhuyenmais)
            {
                i++;
                <!-- START PORTFOLIO COLUMN #1 -->
                <li id="id-@i" class="app">
                    <span class="recent_image" style="position: relative">
                        @if (km.SanPham.HinhAnhs.Count() == 0)
                        {
                            <a href="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" alt="" /></a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/" + km.SanPham.HinhAnhs.FirstOrDefault().Link)" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/" + km.SanPham.HinhAnhs.FirstOrDefault().Link)" alt="" /></a>
                        }
                        <a style="position: absolute; right: -22px; bottom: -5px;" href="javascript:void(0)" class="button green" onclick="addShoppingCart(@km.MaSP, '@km.SanPham.TenSP')">Mua hàng</a>
                        <div class="pro">
                            <p>
                                @if (@km.GiamGia == 0 || @km.GiamGia == null)
                                { @("Gift")}
                                else
                                {@("-")@km.GiamGia@("%")}
                            </p>
                        </div>
                    </span>
                    <span class="title">
                        @Html.ActionLink(@km.SanPham.TenSP, "Detail", "Product", new { carrier = @km.SanPham.NhaSanXuat.TenNSX, category = @km.SanPham.LoaiSanPham.LinkName, id = @km.MaSP }, null)
                    </span>
                    <span class="description">
                        <strong class="iconmini-ch">@if (@km.SanPham.SoLuong == 0)
                                                    {@("Hết hàng")}
                                                    else
                                                    {@("Còn hàng")}</strong><br />

                        @if (@km.GiamGia == 0 || @km.GiamGia == null)
                        {
                            <strong class="pro-price">@{ var temp2 = km.SanPham.DonGia * 1000; @temp2.ToString("0,000");}VNĐ</strong><br />
                        }
                        else
                        {
                            <strong class="pro-price">@{ var pt = km.GiamGia ?? 0; double temp1 = (km.SanPham.DonGia - Math.Ceiling((float)km.SanPham.DonGia / 100 * pt)) * 1000; @temp1.ToString("0,000");}VNĐ</strong><br />
                            <strong style="text-decoration: line-through;">@{ var temp2 = km.SanPham.DonGia * 1000; @temp2.ToString("0,000");}VNĐ</strong><br />
                        }
                        <strong>Quà : </strong>
                        @km.QuaTang1.TenQuaTang<br />
                    </span>
                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #1 -->
            }
        </ul>
    </div>

    <div class="clear padding30"></div>

    <div class="recent_works_left">
        <h2 class="red">Sản phẩm bán chạy nhất</h2>
    </div>
    <div class="clear"></div>
    <div class="line"></div>
    <div class="clear padding20"></div>
    <div class="portfolio_1_4">
        <ul>
            @foreach (var sp in Model.SanphamBanchaynhats)
            {  
                <!-- START PORTFOLIO COLUMN #1 -->
                <li class="app">
                    <span class="image" style="position: relative">
                        @if (sp.HinhAnhs.Count() == 0)
                        {
                        
                            <a href="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" alt="" /></a>
                        }
                        else
                        {
                            <a href="@Url.Content("~/" + sp.HinhAnhs.FirstOrDefault().Link)" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/" + sp.HinhAnhs.FirstOrDefault().Link)" alt="" /></a>
                                                  
                        }
                        <a style="position: absolute; right: -22px; bottom: -5px;" href="javascript:void(0)" class="button green" onclick="addShoppingCart(@sp.MaSP, '@sp.TenSP')">Mua hàng</a>
                    </span>
                    <span class="title">@Html.ActionLink(@sp.TenSP, "Detail", "Product", new { carrier = @sp.NhaSanXuat.TenNSX, category = @sp.LoaiSanPham.LinkName, id = @sp.MaSP }, new { @class = "linkname" })</span>
                    <span class="description">
                        <strong>Bảo hành : </strong>Chính hãng @sp.BaoHanh tháng<br />
                        <strong class="iconmini-ch">@if (@sp.SoLuong == 0)
                                                    {@("Hết hàng")}
                                                    else
                                                    {@("Còn hàng")}</strong><br />
                        <strong class="pro-price">@{ var temp = sp.DonGia * 1000; @temp.ToString("0,000");}VNĐ</strong><br />
                    </span>
                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #1 -->
            }

        </ul>
        <div class="clear"></div>
    </div>

    <div class="clear padding10"></div>

    <div class="recent_works_left">
        <h2 class="red">Sản phẩm mới nhập</h2>
    </div>
    <div class="clear"></div>
    <div class="line"></div>
    <div class="clear padding20"></div>
    <div class="portfolio_1_4">
        <ul id="list">
            @foreach (var sp in Model.SanphamMoinhaps)
            {
                <!-- START PORTFOLIO COLUMN #1 -->
                <li id="id-1" class="app">
                    <span class="image" style="position: relative">
                        @if (sp.HinhAnhs.Count() == 0)
                        {
                        
                            <a href="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/Images/home/portfolio_detail_1.jpg")" alt="" /></a>                            
                        }
                        else
                        {                       
                            <a href="@Url.Content("~/" + sp.HinhAnhs.FirstOrDefault().Link)" data-rel="prettyPhoto" class="img-thumb">
                                <img class="portfolio_image" src="@Url.Content("~/" + sp.HinhAnhs.FirstOrDefault().Link)" alt="" /></a>                                                   
                        }
                        <a style="position: absolute; right: -22px; bottom: -5px;" href="javascript:void(0)" class="button green" onclick="addShoppingCart(@sp.MaSP, '@sp.TenSP')">Mua hàng</a>
                    </span>
                    <span class="title">@Html.ActionLink(@sp.TenSP, "Detail", "Product", new { carrier = @sp.NhaSanXuat.TenNSX, category = @sp.LoaiSanPham.LinkName, id = @sp.MaSP }, new { @class = "linkname" })</span>
                    <span class="description">
                        <strong>Bảo hành : </strong>Chính hãng @sp.BaoHanh tháng<br />
                        <strong class="iconmini-ch">@if (@sp.SoLuong == 0)
                                                    {@("Hết hàng")}
                                                    else
                                                    {@("Còn hàng")}</strong><br />
                        <strong class="pro-price">@{ var temp = sp.DonGia * 1000; @temp.ToString("0,000");}VNĐ</strong><br />
                    </span>
                    <span class="clear padding15"></span>
                </li>
                <!-- END PORTFOLIO COLUMN #1 -->
            }

        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear padding20"></div>
</section>
<!-- /Content -->
