﻿@{
    ViewBag.Title = "Trang không tồn tại - TiniVippro";
}

<!-- START CONTENT -->
<section class="container clearfix">
    <!-- START PAGE INFO -->
    <header class="container page_info clearfix">
        <h1 class="regular brown bottom_line">Trang này không tồn tại</h1>
        <div class="clear"></div>
    </header>

    <!-- END PAGE INFO -->

    <!-- START SIDEBAR SIDE -->
    @Html.Action("_Sidebar", "Home")
    <!-- END SIDEBAR SIDE -->

    <!-- START CONTENT SIDE -->
    <div class="content clearfix">
        <div style="margin-left:20%">
            <img src="~/Images/home/404.png" alt="404" class="error_404" />

            <div class="padding10"></div>
            <p>Xin lỗi, trang <b>@ViewData["error_path"]</b> không tồn tại!!</p>
            <h3>Hãy thử các trang sau:</h3>
            <ul class="align_center">
                <li>
                    @Html.ActionLink("Trang chủ", "Index", "Home")
                </li>
                <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
                <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
    <!-- END CONTENT SIDE -->
    <div class="padding15"></div>
</section>
<!-- END CONTENT -->
