﻿@model List<MobileWebBLL.Models.KhachHang>
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin khách hàng", "Index", "adminKhachHang", null, new { id = "returnListKhachHang" })
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2>Khách hàng</h2>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @ViewBag.Message
            </div>
        }
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable" id="ListCustomer">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Username</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="8"><span>Không có thông tin cần hiển thị</span></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                        <tr>
                            <td class="center">@Html.DisplayFor(Itemcustomer => item.TenKH)</td>
                            <td class="center">@Html.DisplayFor(Itemcustomer => item.UserProfile.UserName)</td>
                            <td class="center">@Html.DisplayFor(Itemcustomer => item.DiaChi)</td>
                            <td class="center">@Html.DisplayFor(Itemcustomer => item.Email)</td>
                            <td class="center">@Html.DisplayFor(Itemcustomer => item.DienThoai)</td>
                            <td class="center">
                                <a class="btn btn-info" data-rel ="tooltip" title="Cập nhật thông tin" href="@Url.Action("ShowEditCustomer", new { @MaKH = item.MaKH })">
                                    <i class="icon-edit icon-white"></i>
                                </a>
                                <a class="btn btn-danger" data-rel ="tooltip" title="Xóa khách hàng" onclick="return confirm('Bạn có chắc chắn muốn xóa khách hàng này');" href="@Url.Action("DeleteCustomer", new {@MaKH = item.MaKH, @UserName = item.UserProfile.UserName})">
                                    <i class="icon-trash icon-white"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->