﻿@model MobileWeb.ViewModels.ViewModelCustomerInfo
@{
    ViewBag.Title = "ShowEditCustomer";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<!-- content starts -->
<div>
    <ul class="breadcrumb">
        <li>
            @Html.ActionLink("Quản lý thông tin khách hàng", "Index", "adminKhachHang", null, new { id = "returnListKhachHang" })
            <span class="divider">/</span>
        </li>
        <li>
            <span>Sửa thông tin Khách hàng</span>
        </li>
    </ul>
</div>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        @ViewBag.Message
    </div>
}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin khách hàng</h2>
        </div>
        <div class="box-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("EditCustomer", "adminKhachHang", FormMethod.Post, new { id = "EditKhachHang" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                @Html.HiddenFor(item => item.MaKH, new { @class = "input-xlarge focused" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên khách hàng")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.TenKH, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.TenKH)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Tên đăng nhập")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.Username, new { @class = "input-xlarge focused", disable = "" })
                                @Html.ValidationMessageFor(item => item.TenKH)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Địa chỉ")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.DiaChi, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.DiaChi)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Email")
                            </div>
                            <div class="controls">
                                @Html.TextBoxFor(item => item.Email, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.Email)
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="control-label">
                                @Html.Label("", "Điện thoại")
                            </div>
                            <div class="controls">
                                @Html.TextAreaFor(item => item.DienThoai, new { @class = "input-xlarge focused" })
                                @Html.ValidationMessageFor(item => item.DienThoai)
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-edit icon-white"></i>
                                Cập nhật khách hàng
                            </button>
                            <a class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn hủy cập nhật');" href="@Url.Action("Index")">
                                <i class="icon-trash icon-white"></i>
                                Hủy bỏ cập nhật
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
    <!--/span-->
</div>
<!--/row-->
<!-- content ends -->

